<ion-view title="About" id="page12" style="background-color:#FFFFFF;">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/RjAj3dxSB6FJA8h0llwA_17545231_10155353012053394_5211637316823966845_o1.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h1 id="about-heading1" style="color:#73656F;">About</h1>
    <div id="about-markdown8" class="show-list-numbers-and-dots">
      <p style="color:#73656F;font-size:20px;">An easily preventable and frightening event with my own child and the use of essential oils led me to learn about them in detail. This app is meant to make the topic accesible and accurate. Ads will never be put in this app and will be updated to
        maintain accuracy.</p>

      <p style="color:#73656F;font-size:20px;">To keep up with up with anything else I write about check out my website:
        <a href="https://www.porcheberryauthor.com/">Porche Berry, Author</a>
      </p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Disclaimer:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">The information provided in this app is not intended to be a substitute for medical counseling. Please do not attempt self-treatment without first consulting a medical professional. The author and publisher expressly disclaim any and all liability
        for any claims, damages, losses, judgements, expenses, costs, or injuries resulting from any information provided in this app. Nor does the inclusion of any resource group or company listed within this app constitute an endorsement or guarantee
        of quality by the author or publisher.</p>
    </div>
  </ion-content>
</ion-view>
