<ion-view title="Angelica root" id="page102" style="background-color:#FFFFFF;">
  <ion-content padding="true" class="has-header">
    <div id="angelicaRoot-markdown88" class="show-list-numbers-and-dots">
      <p style="color:#73656F;font-size:20px;">
        <em>Angelica archangelica (root)</em>
      </p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Contains:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">ALPHA-HUMULENE, ALPHA-PHELLANDRENE, ALPHA-PINENE, ALPHA-TERPINENE, ANGELICIN, BERGAPTEN, BETA-BISABOLENE, BETA-ELEMENE, BETA-EUDESMOL, BETA-PHELLANDRENE, BETA-PINENE, BORNEOL, CAMPHENE, CARYOPHYLLENE, CIS-OCIMENE, CUPARENE, DELTA-CADINENE, ELEMOL,
        ETHYL-MYRISTATE, FENCHONE, GAMMA-TERPINENE, GERMACRENE-D, ISOPIMPINELLIN, LAURIC-ACID-ETHYL-ESTER, LIMONENE, LINALOOL, MYRCENE, OCTYL-ISOVALERATE, OLEIC-ACID-ETHYL-ESTER, OSTHOL, P-CYMENE, PALMITIC-ACID-ETHYL-ESTER, SABINENE, TERPINEN-4-OL, TERPINOLENE,
        TRANS-CARVEOL </p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Properties:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">Antispasmodic, depurative, digestive, expectorant, hepatoprotective, nervine, tonic, antistress, detoxicant, diuretic, febrifuge, immune stimulant, stimulant, carminative, diaphoretic, emmenagogue, hepatic, liver tonic, stomachic</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Uses:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">
        <em>Topically;</em>
      </p>

      <p style="color:#73656F;font-size:20px;">to ease pain from menstruation, poor digestion, headaches, and muscular pain.</p>

      <p style="color:#73656F;font-size:20px;">
        <em>Diffused;</em>
      </p>

      <p style="color:#73656F;font-size:20px;">helps relieve stress and fatigue, opens the lungs for better breathing.</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Cautions:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">Avoid during pregnancy. </p>

      <p style="color:#73656F;font-size:20px;">Diabetics should also avoid this oil. </p>

      <p style="color:#73656F;font-size:20px;">Oil is photo-toxic, avoid direct sun exposure for 24hrs.</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>First aid:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">In the unlikely event of a skin reaction apply cornstarch or similar to absorb excess oil.</p>

      <p style="color:#73656F;font-size:20px;">If gotten in the eyes rinse with clear water for 15 min, if irritation persists after 30 min seek professional help.</p>

      <p style="color:#73656F;font-size:20px;">If a pregnant woman has been exposed monitor closely for signs of miscarriage.</p>

      <p style="color:#73656F;font-size:20px;">If ingested call emergency services immediately.</p>
    </div>
  </ion-content>
</ion-view>
