<ion-view title="Anise" id="page67" style="background-color:#FFFFFF;">
  <ion-content padding="true" class="has-header">
    <div id="anise-markdown55" class="show-list-numbers-and-dots">
      <p style="color:#73656F;font-size:20px;">
        <em>Pimpinella anisum</em>
      </p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Contains:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">ALPHA-PINENE, ALPHA-TERPINENE, ANETHOLE, ANISALDEHYDE, ANISIC-ACID, BETA-BISABOLENE, BETA-ELEMENE, CAMPHENE, CAMPHOR, CARVONE, CHAMAZULENE, CINNAMALDEHYDE, CINNAMYL-ALCOHOL, CIS-ANETHOLE, ESTRAGOLE, EUGENOL, FENCHONE, LIMONENE, LINALOOL, PHELLANDRENE,
        SAFROLE, TERPINEOL, THYMOL, TRANS-ANETHOLE</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Properties:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">Antiasthmatic, anti-anxiety, anti-rheumatic, antiseptic, antispasmodic, aperitive, bronchial relaxant, carminative, decongestant, digestive, diuretic, expectorant, galactagogue, insecticidal, laxative, antiparasitic, sedative, stimulant</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Uses:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">
        <em>Topically;</em>
      </p>

      <p style="color:#73656F;font-size:20px;">muscle pain and cramps, gas, difficult menstruation.</p>

      <p style="color:#73656F;font-size:20px;">
        <em>Diffused;</em>
      </p>

      <p style="color:#73656F;font-size:20px;">anxiety, difficulty breathing, headaches, nausea.</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Cautions:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">Can irritate skin so must always be properly diluted, also phototoxic, avoid sun exposure for 24hrs. </p>

      <p style="color:#73656F;font-size:20px;">Those with liver disease and cancer should avoid this oil.</p>

      <p style="color:#73656F;font-size:20px;">Excess use may cause dizziness and stomach ache.</p>

      <p style="color:#73656F;font-size:20px;">Do not use if pregnant.</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>First aid:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">If skin irritation has occurred apply cornstarch or similar to absorb excess.</p>

      <p style="color:#73656F;font-size:20px;">If gotten in the eye rinse with clear water for 15 min, if irritation persists for more than 30 min seek professional help.</p>

      <p style="color:#73656F;font-size:20px;">If a pregnant woman has come in direct contact monitor closely.</p>
    </div>
  </ion-content>
</ion-view>
