<ion-view title="Basics" id="page4">
  <ion-content padding="true" style="background: url(img/tRxYiiMITTyZJQ0cI6X1_watercolor-1317812.jpg) no-repeat center;background-size:cover;" class="has-header">
    <a ui-sref="tabsController.vocabulary()" id="basics-button4" style="font-weight:500;color:#73656F;font-size:30px;" class="button button-balanced button-block button-clear">Vocabulary</a>
    <a ui-sref="tabsController.history()" id="basics-button5" style="font-weight:500;color:#73656F;font-size:30px;" class="button button-balanced button-block button-clear">History</a>
    <a ui-sref="tabsController.distilling()" id="basics-button6" style="font-weight:500;color:#73656F;font-size:30px;" class="button button-balanced button-block button-clear">Distilling</a>
    <a ui-sref="tabsController.hydrosols()" id="basics-button11" style="font-weight:500;color:#73656F;font-size:30px;" class="button button-balanced button-block button-clear">Hydrosols</a>
    <a ui-sref="tabsController.dilution()" id="basics-button1" style="font-weight:500;color:#73656F;font-size:30px;" class="button button-balanced button-block button-clear">Dilution</a>
    <a ui-sref="tabsController.carrierOils()" id="basics-button13" style="font-weight:500;color:#73656F;font-size:30px;" class="button button-balanced button-block button-clear">Carriers</a>
    <a ui-sref="tabsController.ingestion()" id="basics-button9" style="font-weight:500;color:#73656F;font-size:30px;" class="button button-balanced button-block button-clear">Ingestion</a>
    <a ui-sref="tabsController.pregnancyAndBreastfeeding()" id="basics-button18" style="font-weight:500;color:#73656F;font-size:23px;" class="button button-balanced button-block button-clear">Pregnancy &amp; Breastfeeding</a>
    <a ui-sref="tabsController.babies()" id="basics-button21" style="font-weight:500;color:#73656F;font-size:30px;" class="button button-balanced button-block button-clear">Babies</a>
    <button id="basics-button20" style="font-weight:500;color:#73656F;font-size:30px;" class="button button-balanced button-block button-clear">About</button>
  </ion-content>
</ion-view>
