<ion-view title="Basil (sweet)" id="page86" style="background-color:#FFFFFF;">
  <ion-content padding="true" class="has-header">
    <div id="basilSweet-markdown74" class="show-list-numbers-and-dots">
      <p style="color:#73656F;font-size:20px;">
        <em>Ocimum basilicum (Lamiaceae)</em>
      </p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Contains:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">ACETIC-ACID, ALPHA-BISABOLOL, ALPHA-CEDRENE, ALPHA-HUMULENE, ALPHA-PINENE, ALPHA-TERPINENE, ALPHA-TERPINEOL, ANETHOLE, BENZALDEHYDE, BENZYL-ALCOHOL, BETA-ELEMENE, BETA-ELEMENE, BETA-MYRCENE, BETA-PINENE, BETA-SANTALENE, BORNEOL, CAMPHENE, CAMPHOR,
        CARYOPHYLLENE-OXIDE, CITRAL, CITRONELLOL, COPAENE, ELEMOL, ESTRAGOLE, EUGENOL, EUGENOL-METHYL-ETHER, GERANIOL, HUMULENE, LIMONENE, LINALOOL, MENTHOL, MENTHONE, MYRCENE, NEROL, NEROLIDIOL, NEROLIDOL, OCIMENE, P-CYMENE, P-METHOXYCINNAMALDEHYDE,
        PROPIONIC-ACID, SABINENE, TERPINEN-4-OL, TERPINOLENE, THYMOL, TRANS-ANETHOLE, VALERIC-ACID</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Properties:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">Analgesic, antidepressant, antispasmodic, anti-venomous, carminative, cephalic, diaphoretic, digestive, emmenagogue, expectorant, febrifuge, insecticide, nervine, stomachic, sudorific, tonic and stimulant</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Uses:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">
        <em>Topically;</em>
      </p>

      <p style="color:#73656F;font-size:20px;">arthritis, difficult menstruation, acne, gout, constipation, cramps.</p>

      <p style="color:#73656F;font-size:20px;">
        <em>Diffused;</em>
      </p>

      <p style="color:#73656F;font-size:20px;">anxiety, headaches, mental fatigue, allergies.</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Cautions:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">Do not use if pregnant.</p>

      <p style="color:#73656F;font-size:20px;">Do not use around children under the age of 16yrs due to strong stupefying effect.</p>

      <p style="color:#73656F;font-size:20px;">May be a skin irritant for some.</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>First aid:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">If skin irritation has occurred apply cornstarch or similar to absorb excess.</p>

      <p style="color:#73656F;font-size:20px;">If gotten in the eye rinse with clear water for 15 min, if irritation persists for more than 30 min seek professional help.</p>

      <p style="color:#73656F;font-size:20px;">If a pregnant woman has been exposed monitor closely for signs of labour or miscarriage.</p>

      <p style="color:#73656F;font-size:20px;">If a child has been exposed move them to fresh air, if improvement is not seen within 30min or symptoms worsen call emergency services.</p>
    </div>
  </ion-content>
</ion-view>
