<ion-view title="Bay" id="page96" style="background-color:#FFFFFF;">
  <ion-content padding="true" class="has-header">
    <div id="bay-markdown82" class="show-list-numbers-and-dots">
      <p style="color:#73656F;font-size:20px;">
        <em>Laurus nobilis</em>
      </p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Contains:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">1,8-CINEOLE, 4-TERPINEOL, ACETYL-EUGENOL, ALPHA-PHELLANDRENE, ALPHA-PINENE, ALPHA-TERPINENE, ALPHA-TERPINEOL, BETA-ELEMENE, BETA-EUDESMOL, BETA-MYRCENE, BETA-PINENE, BORNEOL, CAMPHENE, CAMPHOR, CARVACROL, DELTA-CADINENE, ESTRAGOLE, EUGENOL, EUGENOL-ACETATE,
        EUGENOL-METHYL-ETHER, GAMMA-TERPINENE, GERANIOL, HUMULENE, LIMONENE, LINALOOL, MYRCENE, P-CYMENE, SABINENE, TERPINEN-4-OL, THYMOL, TRANS-PINOCARVEOL</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Properties:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">Antiseptic, antibiotic, analgesic, anti-neuralgic, antispasmodic, aperitif, astringent, emmenagogue, febrifuge, insecticide, cholagogue, sedative, stomachic, sudorific and tonic.</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Uses:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">
        <em>Topically;</em>
      </p>

      <p style="color:#73656F;font-size:20px;">rheumatic pains, excess gas.</p>

      <p style="color:#73656F;font-size:20px;">
        <em>Diffused;</em>
      </p>

      <p style="color:#73656F;font-size:20px;">calming, headaches. Low exposure can be stimulating while heavy exposure is sedating.</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Cautions:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">Do not use if pregnant.</p>

      <p style="color:#73656F;font-size:20px;">May be a skin irritant.</p>

      <p style="color:#73656F;font-size:20px;">Ensure good dilution even when diffusing.</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>First aid:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">If skin irritation has occurred apply cornstarch or similar to absorb excess.</p>

      <p style="color:#73656F;font-size:20px;">If gotten in the eye rinse with clear water for 15 min, if irritation persists for more than 30 min seek professional help.</p>

      <p style="color:#73656F;font-size:20px;">If a pregnant woman has been exposed monitor closely for signs of labour or miscarriage.</p>
    </div>
  </ion-content>
</ion-view>
