<ion-view title="Black Pepper" id="page19" style="background-color:#FFFFFF;">
  <ion-content padding="true" class="has-header">
    <div id="blackPepper-markdown15" class="show-list-numbers-and-dots">
      <p style="color:#73656F;font-size:20px;">
        <em>Piper nigrum</em>
      </p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Contents:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">a-thujone, a-pinene, camphene, sabinene, b-pinene, a-phellandrene, myrcene, limonene, caryophyllene, b-farnesene, b-bisabolene, linalool and terpinen-4-ol</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Properties:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">analgesic, antiseptic, antispasmodic, antitoxic, aphrodisiac, diaphoretic, digestive, diuretic, febrifuge, laxative, rubefacient, tonic (especially of the spleen)</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Uses:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">
        <em>Topical;</em> pain relief, rheumatism, chills, flu, colds, increase circulation, exhaustion, muscular aches,encourages peristalsis, fever.</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Cautions:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">Skin sensitizing if used undiluted. Do not apply to the face, effects could be similar to pepper spray.</p>

      <p style="color:#73656F;font-size:20px;">Best to avoid diffusing.</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>First aid:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">If gotten in the eye rinse with clear water for 15 min and seek professional help.</p>

      <p style="color:#73656F;font-size:20px;">If contact burns or sensitization occurs apply flour or cornstarch to absorb excess oil.</p>
    </div>
  </ion-content>
</ion-view>
