<ion-view title="Cajeput" id="page97" style="background-color:#FFFFFF;">
  <ion-content padding="true" class="has-header">
    <div id="cajeput-markdown83" class="show-list-numbers-and-dots">
      <p style="color:#73656F;font-size:20px;">
        <em>Melaleuca cajuputi</em>
      </p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Contains:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">A-PINENE, B-PINENE, MYRCENE, A-TERPINENE, LIMONENE, 1,8-CINEOL, Y-TERPINENE, P-CYMENE, TERPINOLENE, LINALOOL, TERPINEN-4-OL, A-TERPINEOL</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Properties:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">Analgesic, anti-neuralgic, antiseptic, anti-spasmodic, decongestant, expectorant, insecticide, febrifuge, carminative, stimulant, sudorific, vermifuge, tonic</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Uses:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">
        <em>Topically;</em>
      </p>

      <p style="color:#73656F;font-size:20px;">cools the body during fever, pain relief, prevent infection, problem skin.</p>

      <p style="color:#73656F;font-size:20px;">
        <em>Diffused;</em>
      </p>

      <p style="color:#73656F;font-size:20px;">Opens the lungs, insect repellent, clears the mind.</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Cautions:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">High concentration can cause irritation to skin and mucus membranes.</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>First aid:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">If skin irritation has occurred apply cornstarch or similar to absorb excess.</p>

      <p style="color:#73656F;font-size:20px;">If gotten in the eye rinse with clear water for 15 min, if irritation persists for more than 30 min seek professional help.</p>

      <p style="color:#73656F;font-size:20px;">If breathing irritation has occurred move person to clear air and monitor. If problems persist or worsen within a 30min time frame contact emergency services. 15 minutes for babies.</p>
    </div>
  </ion-content>
</ion-view>
