<ion-view title="Camphor" id="page54" style="background-color:#FFFFFF;">
  <ion-content padding="true" class="has-header">
    <div id="camphor-markdown41" class="show-list-numbers-and-dots">
      <p style="color:#73656F;font-size:20px;">
        <em>Cinnamomum Camphora</em>
      </p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Contains:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">A-PINENE, CAMPHENE, B-PINENE, SABINENE, PHELLANDRENE, LIMONENE, 1,8-CINEOLE, Y-TERPINENE, P-CYMENE, TERPINOLENE, FURFURAL, CAMPHOR, LINALOOL, BORNYL ACETATE, TERPINEN-4-OL, CARYOPHYLLENE, BORNEOL, PIPERITONE, GERANIOL, SAFROLE, CINNAMALDEHYDE, METHYL
        CINNAMATE, EUGENOL</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Properties:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">Analgesic, antidepressant, anti-inflammatory, antiseptic, cardiac, carminative, diuretic, febrifuge, hypertensive, insecticide, laxative, rubefacient, stimulant, sudorific, vermifuge, vulnerary.</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Uses:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">
        <em>Topically;</em>
      </p>

      <p style="color:#73656F;font-size:20px;">Inflamed muscles and joints, sprains, infections, bronchitis, rheumatism, arthritis.</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Cautions:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">Do not diffuse this oil, it is classed as a neurotoxin and convulsant.</p>

      <p style="color:#73656F;font-size:20px;">Do not use if you have asthma, epilepsy, or may be pregnant.</p>

      <p style="color:#73656F;font-size:20px;">Risk of overdose for children is high, best to avoid for anyone smaller than an average adult.</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>First aid:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">Convulsions and vomiting are associated with overdosing, if these symptoms are present after exposure call emergency services immediately.</p>

      <p style="color:#73656F;font-size:20px;">If skin irritation has occurred apply cornstarch or similar to absorb excess.</p>

      <p style="color:#73656F;font-size:20px;">If gotten in the eye rinse with clear water for 15 min, if irritation persists for more than 30 min seek professional help.</p>

      <p style="color:#73656F;font-size:20px;">If a pregnant woman has been exposed monitor closely for signs of labour or miscarriage.</p>
    </div>
  </ion-content>
</ion-view>
