<ion-view title="Caraway" id="page73" style="background-color:#FFFFFF;">
  <ion-content padding="true" class="has-header">
    <div id="caraway-markdown61" class="show-list-numbers-and-dots">
      <p style="color:#73656F;font-size:20px;">
        <em>Carum carvi</em>
      </p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Contains:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">ACETALDEHYDE, CUMUNINIC ALDEHYDE, FURFUROL, CARVONE, LIMONENE.</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Properties:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">Anti-histaminic, antispasmodic, antiseptic, aperitif, astringent, cardiac, carminative, digestive, disinfectant, diuretic, emmenagogue, galactagogue, expectorant, parasiticide, stimulant, stomachic, tonic, vermifuge.</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Uses:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">
        <em>Diffused;</em>
      </p>

      <p style="color:#73656F;font-size:20px;">Opens the lungs and clears them of inflammation and/or mucus.</p>

      <p style="color:#73656F;font-size:20px;">
        <em>Topically;</em>
      </p>

      <p style="color:#73656F;font-size:20px;">Increase milk production, reduce menstrual pains, infections, nervous digestion, colic.</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Cautions:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">Due to emmenagogue and galactagogue properties it is best avoided during pregnancy.</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>First aid:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">If skin irritation has occurred apply cornstarch or similar to absorb excess.</p>

      <p style="color:#73656F;font-size:20px;">If gotten in the eye rinse with clear water for 15 min, if irritation persists for more than 30 min seek professional help.</p>

      <p style="color:#73656F;font-size:20px;">If a pregnant woman has been exposed monitor closely for signs of labour or miscarriage.</p>
    </div>
  </ion-content>
</ion-view>
