<ion-view title="Cardamom" id="page74" style="background-color:#FFFFFF;">
  <ion-content padding="true" class="has-header">
    <div id="cardamom-markdown62" class="show-list-numbers-and-dots">
      <p style="color:#73656F;font-size:20px;">
        <em>Elettaria cardomomum</em>
      </p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Contains:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">A-PINENE, B-PINENE, SABINENE, MYRCENE, A-PHELLANDRENE, LIMONENE, 1,8-CINEOLE, Y-TERPINENE, P-CYMENE, TERPINOLENE, LINALOOL, LINALYL ACETATE, TERPINEN-4-OIL, A-TERPINEOL, A-TERPINEOL ACETATE, CITRONELLOL, NEROL, GERANIOL, METHYL EUGENOL, TRANS-NEROLIDOL</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Properties:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">Antiseptic, antispasmodic, carminative, cephalic, digestive, diuretic, expectorant, stimulant, stomachic, tonic.</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Uses:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">
        <em>Diffused;</em>
      </p>

      <p style="color:#73656F;font-size:20px;">Mental fatigue, coughs, phlegm, chest infections</p>

      <p style="color:#73656F;font-size:20px;">
        <em>Topically;</em>
      </p>

      <p style="color:#73656F;font-size:20px;">Laxative, colic, wind, dyspepsia, nausea, heartburn</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Cautions:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">No specific cautions.</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>First aid:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">If skin irritation has occurred apply cornstarch or similar to absorb excess.</p>

      <p style="color:#73656F;font-size:20px;">If gotten in the eye rinse with clear water for 15 min, if irritation persists for more than 30 min seek professional help.</p>
    </div>
  </ion-content>
</ion-view>
