<ion-view title="Carrier oils" id="page25" style="background-color:#FFFFFF;">
  <ion-content padding="true" class="has-header">
    <div id="carrierOils-markdown21" class="show-list-numbers-and-dots">
      <p style="color:#73656F;font-size:20px;">
        <em>Olive oil</em> - Natural antioxidant and exfoliant, deeply nourishing for the skin. Cheaper than coconut oil. High in Vit A and E.</p>

      <p style="color:#73656F;font-size:20px;">
        <em>Coconut oil</em> - More moisturizing than olive oil, disinfectant and antimicrobial properties. High in proteins essential for proper skin renewal. Doesn’t go rancid.</p>

      <p style="color:#73656F;font-size:20px;">
        <em>Jojoba oil</em> - Technically a liquid wax, plant is native to North America. Non-greasy texture, light weight and anti-inflammatory properties, doesn’t clog pores. Molecular structure very similar to the skin’s natural oils. Also doesn't go rancid.</p>

      <p style="color:#73656F;font-size:20px;">
        <em>Almond oil</em> - Protects against and reverses UV damage. Evens out skin tone and can reduce scarring, reduces inflammation in the skin. A patch test should be done before using for the first time.</p>
    </div>
  </ion-content>
</ion-view>
