<ion-view title="Cassia bark" id="page99" style="background-color:#FFFFFF;">
  <ion-content padding="true" class="has-header">
    <div id="cassiaBark-markdown85" class="show-list-numbers-and-dots">
      <p style="color:#73656F;font-size:20px;">
        <em>Cinnamomum cassia</em>
      </p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Contains:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">CINNAMIC ALDEHYDE, CINNAMYL ACETATE, BENZALDEHYDE, LINALOOL, CHAVICOL</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Properties:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">Carminative, anti-diarrhea, anti-microbial, anti-emetic.</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Uses:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">
        <em>Diffused;</em>
      </p>

      <p style="color:#73656F;font-size:20px;">Infections, nausea.</p>

      <p style="color:#73656F;font-size:20px;">
        <em>Topically;</em>
      </p>

      <p style="color:#73656F;font-size:20px;">Arthritis, rheumatism, flatulence, diarrhea.</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Cautions:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">Dermal irritant, must be diluted heavily.</p>

      <p style="color:#73656F;font-size:20px;">Mucus membrane irritant.</p>

      <p style="color:#73656F;font-size:20px;">Best avoided during pregnancy.</p>

      <p style="color:#73656F;font-size:20px;">Best avoided with children.</p>

      <p style="color:#73656F;font-size:20px;">Professional supervision is advised with this oil.</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>First aid:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">If skin irritation has occurred apply cornstarch or similar to absorb excess. Burns resulting from the oil must be treated as chemical burns.</p>

      <p style="color:#73656F;font-size:20px;">If gotten in the eye rinse with clear water for 15 min and call emergency services.</p>
    </div>
  </ion-content>
</ion-view>
