<ion-view title="Cautions" id="page2" style="background-color:#FFFFFF;">
  <ion-content padding="true" style="background: url(img/3royq4CTS5GMrg4J7kMx_watercolor-2305966.jpg) no-repeat center;background-size:cover;" class="has-header">
    <a ui-sref="tabsController.seizures()" id="cautions-button3" style="font-weight:500;color:#73656F;font-size:30px;" class="button button-balanced button-block button-clear">Seizures</a>
    <a ui-sref="tabsController.babies()" id="cautions-button7" style="font-weight:500;color:#73656F;font-size:30px;" class="button button-balanced button-block button-clear">Babies</a>
    <a ui-sref="tabsController.pregnancyAndBreastfeeding()" id="cautions-button8" style="font-weight:500;color:#73656F;font-size:23px;" class="button button-balanced button-block button-clear">Pregnancy &amp; Breastfeeding</a>
    <a ui-sref="tabsController.ingestion()" id="cautions-button10" style="font-weight:500;color:#73656F;font-size:30px;" class="button button-balanced button-block button-clear">Ingestion</a>
    <a ui-sref="tabsController.pets()" id="cautions-button12" style="font-weight:500;color:#73656F;font-size:30px;" class="button button-balanced button-block button-clear">Pets</a>
    <a ui-sref="tabsController.drugInteractions()" id="cautions-button16" style="font-weight:500;color:#73656F;font-size:30px;" class="button button-balanced button-block button-clear">Drug interactions</a>
    <a ui-sref="tabsController.medicalConditions()" id="cautions-button17" style="font-weight:500;color:#73656F;font-size:30px;" class="button button-balanced button-block button-clear">Medical conditions</a>
  </ion-content>
</ion-view>
