<ion-view title="Cinnamon (leaf)" id="page69" style="background-color:#FFFFFF;">
  <ion-content padding="true" class="has-header">
    <div id="cinnamonLeaf-markdown57" class="show-list-numbers-and-dots">
      <p style="color:#73656F;font-size:20px;">
        <em>Cinnamomum zeylanicum</em>
      </p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Contains:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">EUGENOL, EUGENOL ACETATE, CINNAMIC ALDEHYDE, BENZYL BENZOATE</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Properties:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">Analgesic, Antiseptic, Antibiotic, Antispasmodic, Aphrodisiac, Astringent, Cardiac, Carminative, Emmenagogue, Insecticide, Stimulant, Stomachic, Tonic, Vermifuge</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Uses:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">
        <em>Diffused;</em>
      </p>

      <p style="color:#73656F;font-size:20px;">Bronchitis, colds, depression.</p>

      <p style="color:#73656F;font-size:20px;">
        <em>Topically;</em>
      </p>

      <p style="color:#73656F;font-size:20px;">Digestion, rheumatism, arthritis, nausea and vomiting.</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Cautions:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">Pregnant women should avoid during pregnancy due to risk of miscarriage.</p>

      <p style="color:#73656F;font-size:20px;">Can be irritating to mucous membranes and skin.</p>

      <p style="color:#73656F;font-size:20px;">High concentrations can cause convulsions.</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>First aid:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">If skin irritation has occurred apply cornstarch or similar to absorb excess.</p>

      <p style="color:#73656F;font-size:20px;">If gotten in the eye rinse with clear water for 15 min and seek medical attention immediately, permanent damage can occur.</p>

      <p style="color:#73656F;font-size:20px;">If a pregnant woman has been exposed monitor closely for signs of labour or miscarriage.</p>
    </div>
  </ion-content>
</ion-view>
