<ion-view title="Citrus" id="page34" style="background-color:#FFFFFF;">
  <ion-content padding="true" class="has-header">
    <a ui-sref="tabsController.bergamot()" id="citrus-button19" style="font-weight:500;color:#DA291C;font-size:30px;" class="button button-positive button-block button-clear">Bergamot</a>
    <a ui-sref="tabsController.grapefruit()" id="citrus-button42" style="font-weight:500;color:#ABDD62;font-size:30px;" class="button button-positive button-block button-clear">Grapefruit</a>
    <a ui-sref="tabsController.lemon()" id="citrus-button43" style="font-weight:500;color:#ABDD62;font-size:30px;" class="button button-positive button-block button-clear">Lemon</a>
    <a ui-sref="tabsController.lime()" id="citrus-button44" style="font-weight:500;color:#ABDD62;font-size:30px;" class="button button-positive button-block button-clear">Lime</a>
    <a ui-sref="tabsController.orange()" id="citrus-button45" style="font-weight:500;color:#ABDD62;font-size:30px;" class="button button-positive button-block button-clear">Orange (sweet)</a>
    <button id="citrus-button46" style="font-weight:500;color:#73656F;font-size:30px;" class="button button-positive button-block button-clear">Tangerine</button>
    <button id="citrus-button166" style="font-weight:500;color:#73656F;font-size:30px;" class="button button-positive button-block button-clear">Blood Orange</button>
    <button id="citrus-button167" style="font-weight:500;color:#73656F;font-size:30px;" class="button button-positive button-block button-clear">Bitter Orange</button>
    <a ui-sref="tabsController.neroliOrangeBlossom()" id="citrus-button170" style="font-weight:500;color:#ABDD62;font-size:25px;" class="button button-positive button-block button-clear">Neroli/Orange blossom</a>
    <a ui-sref="tabsController.petitgrain()" id="citrus-button169" style="font-weight:500;color:#ABDD62;font-size:30px;" class="button button-positive button-block button-clear">Petitgrain</a>
    <button id="citrus-button168" style="font-weight:500;color:#73656F;font-size:30px;" class="button button-positive button-block button-clear">Yuzu</button>
  </ion-content>
</ion-view>
