<ion-view title="Clary sage" id="page93" style="background-color:#FFFFFF;">
  <ion-content padding="true" class="has-header">
    <div id="clarySage-markdown79" class="show-list-numbers-and-dots">
      <p style="color:#73656F;font-size:20px;">
        <em>Salvia sclarea</em>
      </p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Contains:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">LINALOOL, LINALYL ACETATE, CARYOPHYLLENE, A-TERPINEOL, GERANIOL, NERYL ACETATE, SCLAREOL, GERMACRENE D</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Properties:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">Antidepressant, anti-convulsive, antispasmodic, antiseptic, aphrodisiac, astringent, bactericidal, carminative, deodorant, digestive, emmenagogue, euphoric, hypotensive, nervine, sedative, stomachic, uterine, nerve tonic.</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Uses:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">
        <em>Diffused;</em>
      </p>

      <p style="color:#73656F;font-size:20px;">Nervous tension, stress, depression, anxiety, insomnia. </p>

      <p style="color:#73656F;font-size:20px;">
        <em>Topically;</em>
      </p>

      <p style="color:#73656F;font-size:20px;">Muscle pains, depression, anxiety, menstrual problems, PMS, stress, nervous tension, insomnia, cramps.</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Cautions:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">Pregnant women should avoid due to risk of miscarriage.</p>

      <p style="color:#73656F;font-size:20px;">Large amounts can produce headaches.</p>

      <p style="color:#73656F;font-size:20px;">Do not use while consuming alcohol because it will increase the effects of the alcohol.</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>First aid:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">If skin irritation has occurred apply cornstarch or similar to absorb excess.</p>

      <p style="color:#73656F;font-size:20px;">If gotten in the eye rinse with clear water for 15 min, if irritation persists for more than 30 min seek professional help.</p>

      <p style="color:#73656F;font-size:20px;">If a pregnant woman has been exposed monitor closely for signs of labour or miscarriage.</p>
    </div>
  </ion-content>
</ion-view>
