<ion-view title="Coriander" id="page103" style="background-color:#FFFFFF;">
  <ion-content padding="true" class="has-header">
    <div id="coriander-markdown89" class="show-list-numbers-and-dots">
      <p style="color:#73656F;font-size:20px;">
        <em>Coriandrum sativum</em>
      </p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Contains:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">BORNEOL, LINALOOL, CINEOLE, CYMENE, TERPINEOL, DIPENTENE, PHELLANDRENE, PINENE, TERPINOLENE</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Properties:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">Analgesic, aphrodisiac, antispasmodic, carminative, depurative, deodorant, digestive, carminative, fungicidal, lipolytic, stimulant, stomachic</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Uses:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">
        <em>Diffused;</em>
      </p>

      <p style="color:#73656F;font-size:20px;">Mental fatigue, migraine, tension.</p>

      <p style="color:#73656F;font-size:20px;">
        <em>Topically;</em>
      </p>

      <p style="color:#73656F;font-size:20px;">Migraines, muscle spasms, arthritis, rheumatism, digestive complaints.</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Cautions:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">Very large doses (relative to size) can have a stupifying effect.</p>

      <p style="color:#73656F;font-size:20px;">Some people find the oil irritating to the skin, do a patch test if you have sensitive skin.</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>First aid:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">If skin irritation has occurred apply cornstarch or similar to absorb excess.</p>

      <p style="color:#73656F;font-size:20px;">If gotten in the eye rinse with clear water for 15 min, if irritation persists for more than 30 min seek professional help.</p>
    </div>
  </ion-content>
</ion-view>
