<ion-view title="Definition" id="page7" style="background-color:#FFFFFF;">
  <ion-content padding="true" class="has-header">
    <div id="definition-markdown2" class="show-list-numbers-and-dots">
      <p style="color:#73656F;font-size:20px;">QRDS:</p>

      <p style="color:#73656F;font-size:20px;">Quick Reference Data Sheet</p>

      <p style="color:#73656F;font-size:20px;">A sheet which contains all technical information relevant to a herb, essential oil, or other medicinal substance and it's application.</p>

      <p style="color:#73656F;font-size:20px;">Divided into 6 sections</p>

      <ol>
        <li>latin name</li>
        <li>chemical constituents</li>
        <li>technical properties</li>
        <li>route of use and suggested symptoms</li>
        <li>cautions</li>
        <li>immediate first aid information</li>
      </ol>
    </div>
  </ion-content>
</ion-view>
