<ion-view title="Dilution" id="page13" style="background-color:#FFFFFF;">
  <ion-content padding="true" class="has-header">
    <div id="dilution-markdown9" class="show-list-numbers-and-dots">
      <p style="color:#73656F;font-size:20px;">A carrier oil is required for dilution, water cannot dilute an oil. Please refer to the section covering carrier oils.</p>

      <p style="color:#73656F;font-size:20px;">Dilution is for diffusing and topical applications, including baths. </p>

      <p style="color:#73656F;font-size:20px;">If you are mixing multiple oils the dilution ratio is for the total number of drops, not for individual oils.</p>
    </div>
    <div>
      <img src="img/uJjA4CWcQpQzxKqDtfGw_dilution.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>
