<ion-view title="Distilling" id="page26" style="background-color:#FFFFFF;">
  <ion-content padding="true" class="has-header">
    <div id="distilling-markdown22" class="show-list-numbers-and-dots">
      <p style="color:#73656F;font-size:20px;">
        <strong>Distillation:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">Raw plant material is put into an alembic (distillation apparatus) over water. As the water is heated, the steam passes through the plant material, vaporizing the volatile compounds. The vapors flow through a coil, where they condense back to liquid,
        which is then collected in the receiving vessel. The re-condensed water is referred to as a hydrosol, hydrolat, herbal distillate or plant water essence, which may be sold as another fragrant product. Rose water is one example. Some plant hydrosols
        have unpleasant smells and are therefore not sold.</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Expression:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">Most citrus peel oils are expressed mechanically or cold-pressed (similar to olive oil extraction). There are some other oils beyond citrus that are also extracted with this method. Before the discovery of distillation, all essential oils were extracted
        by pressing.</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Solvent extraction:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">Most flowers contain too little volatile oil to undergo expression; their chemical components are too delicate and easily denatured by the high heat used in steam distillation. Instead, a solvent such as hexane or supercritical carbon dioxide is
        used to extract the oils. Extracts from hexane and other hydrophobic solvents are called concretes, which are a mixture of essential oil, waxes, resins, and other lipophilic (oil soluble) plant material. Although highly fragrant, concretes contain
        large quantities of non-fragrant waxes and resins. Often, another solvent, such as ethyl alcohol, which is more polar in nature, is used to extract the fragrant oil from the concrete. The alcohol is removed by evaporation, leaving behind the absolute.</p>
    </div>
  </ion-content>
</ion-view>
