<ion-view title="Drug Interactions" id="page29" style="background-color:#FFFFFF;">
  <ion-content padding="true" class="has-header">
    <div id="drugInteractions-markdown25" class="show-list-numbers-and-dots">
      <p style="color:#73656F;font-size:20px;">Drug interactions are not something most people think about, particularly in regards to essential oils. However they can and do occur.</p>

      <p style="color:#73656F;font-size:20px;">In most cases the route of exposure being the same will increase the odds of an interaction dramatically. For example inhaled medications will be more likely to interact with diffused oils.</p>

      <p style="color:#73656F;font-size:20px;">Topical medications have a risk of interaction with topically applied oils in the same area.</p>

      <p style="color:#73656F;font-size:20px;">Some oils have effects on blood sugar and blood pressure. In both cases the potential for drug interactions that also effect these things exists.</p>

      <p style="color:#73656F;font-size:20px;">Oils that have a balancing effect on the hormones can interact with hormonal medications (eg. hormonal birth control, fertility treatments).</p>

      <p style="color:#73656F;font-size:20px;">A drug interaction is not guaranteed however it is wise to know that it is possible. At this time no profession has training on how to properly handle drug/natural medicine interactions.</p>
    </div>
  </ion-content>
</ion-view>
