<ion-view title="Elemi" id="page50" style="background-color:#FFFFFF;">
  <ion-content padding="true" class="has-header">
    <div id="elemi-markdown37" class="show-list-numbers-and-dots">
      <p style="color:#73656F;font-size:20px;">
        <em>Canarium luzonicum</em>
      </p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Contains:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">TERPINEOL, ELEMICINE, ELEMOL, DIPENTENE, PHELLANDRENE, LIMONENE</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Properties:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">Analgesic, expectorant, tonic, antiseptic, stimulant</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Uses:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">
        <em>Diffused;</em>
      </p>

      <p style="color:#73656F;font-size:20px;">Bronchitis, dry cough, excess mucus, nervous exhaustion, stress</p>

      <p style="color:#73656F;font-size:20px;">
        <em>Topically;</em>
      </p>

      <p style="color:#73656F;font-size:20px;">Heavy perspiration, cuts, skin infections</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Cautions:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">Can be irritating to the skin of some people.</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>First aid:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">If skin irritation has occurred apply cornstarch or similar to absorb excess.</p>

      <p style="color:#73656F;font-size:20px;">If gotten in the eye rinse with clear water for 15 min, if irritation persists for more than 30 min seek professional help.</p>
    </div>
  </ion-content>
</ion-view>
