<ion-view title="Evergreens" id="page42" style="background-color:#FFFFFF;">
  <ion-content padding="true" class="has-header">
    <a ui-sref="tabsController.scotchPine()" id="evergreens-button77" style="font-weight:500;color:#ABDD62;font-size:30px;" class="button button-positive button-block button-clear">Scotch Pine</a>
    <button id="evergreens-button78" style="font-weight:500;color:#73656F;font-size:30px;" class="button button-positive button-block button-clear">Fir Balsam</button>
    <button id="evergreens-button79" style="font-weight:500;color:#73656F;font-size:30px;" class="button button-positive button-block button-clear">Fir needle</button>
    <a ui-sref="tabsController.juniperBerry()" id="evergreens-button80" style="font-weight:500;color:#9B2242;font-size:30px;" class="button button-positive button-block button-clear">Juniper Berry</a>
    <button id="evergreens-button81" style="font-weight:500;color:#73656F;font-size:30px;" class="button button-positive button-block button-clear">Juniper needle</button>
    <button id="evergreens-button82" style="font-weight:500;color:#73656F;font-size:30px;" class="button button-positive button-block button-clear">Spruce (hemlock)</button>
    <button id="evergreens-button83" style="font-weight:500;color:#73656F;font-size:30px;" class="button button-positive button-block button-clear">Spruce black</button>
    <button id="evergreens-button145" style="font-weight:500;color:#73656F;font-size:30px;" class="button button-positive button-block button-clear">Blue cypress</button>
    <button id="evergreens-button151" style="font-weight:500;color:#73656F;font-size:30px;" class="button button-positive button-block button-clear">Cade</button>
    <a ui-sref="tabsController.cypress()" id="evergreens-button150" style="font-weight:500;color:#ABDD62;font-size:30px;" class="button button-positive button-block button-clear">Cypress</a>
    <button id="evergreens-button149" style="font-weight:500;color:#73656F;font-size:30px;" class="button button-positive button-block button-clear">Cedarwood Atlas</button>
    <a ui-sref="tabsController.cedarwoodVirginiana()" id="evergreens-button148" style="font-weight:500;color:#9B2242;font-size:25px;" class="button button-positive button-block button-clear">Cedarwood Virginiana</a>
    <button id="evergreens-button146" style="font-weight:500;color:#73656F;font-size:30px;" class="button button-positive button-block button-clear">Hemlock</button>
    <button id="evergreens-button147" style="font-weight:500;color:#73656F;font-size:30px;" class="button button-positive button-block button-clear">Pinyon Pine</button>
  </ion-content>
</ion-view>
