<ion-view title="Florals" id="page45" style="background-color:#FFFFFF;">
  <ion-content padding="true" class="has-header">
    <a ui-sref="tabsController.chamomileRoman()" id="florals-button96" style="font-weight:500;color:#9B2242;font-size:25px;" class="button button-positive button-block button-clear">Chamomile (Roman)</a>
    <a ui-sref="tabsController.chamomileGerman()" id="florals-button97" style="font-weight:500;color:#9B2242;font-size:25px;" class="button button-positive button-block button-clear">Chamomile (German)</a>
    <a ui-sref="tabsController.geranium()" id="florals-button98" style="font-weight:500;color:#9B2242;font-size:30px;" class="button button-positive button-block button-clear">Geranium</a>
    <a ui-sref="tabsController.roseGeranium()" id="florals-button106" style="font-weight:500;color:#9B2242;font-size:30px;" class="button button-positive button-block button-clear">Rose Geranium</a>
    <button id="florals-button99" style="font-weight:500;color:#73656F;font-size:30px;" class="button button-positive button-block button-clear">Goldenrod</button>
    <a ui-sref="tabsController.tagetes()" id="florals-button100" style="font-weight:500;color:#ABDD62;font-size:30px;" class="button button-positive button-block button-clear">Tagetes</a>
    <button id="florals-button101" style="font-weight:500;color:#73656F;font-size:30px;" class="button button-positive button-block button-clear">Tansy</button>
    <a ui-sref="tabsController.yarrow()" id="florals-button103" style="font-weight:500;color:#9B2242;font-size:30px;" class="button button-positive button-block button-clear">Yarrow</a>
    <a ui-sref="tabsController.ylangYlang()" id="florals-button102" style="font-weight:500;color:#ABDD62;font-size:25px;" class="button button-positive button-block button-clear">Ylang Ylang/Cananga</a>
    <button id="florals-button158" style="font-weight:500;color:#73656F;font-size:30px;" class="button button-positive button-block button-clear">Blue tansy</button>
    <button id="florals-button164" style="font-weight:500;color:#73656F;font-size:30px;" class="button button-positive button-block button-clear">Cannabis</button>
    <a ui-sref="tabsController.clarySage()" id="florals-button163" style="font-weight:500;color:#9B2242;font-size:30px;" class="button button-positive button-block button-clear">Clary sage</a>
    <a ui-sref="tabsController.helichrysum()" id="florals-button159" style="font-weight:500;color:#EA7600;font-size:25px;" class="button button-positive button-block button-clear">Helichrysum/Immortelle</a>
    <a ui-sref="tabsController.hyssop()" id="florals-button160" style="font-weight:500;color:#9B2242;font-size:30px;" class="button button-positive button-block button-clear">Hyssop</a>
    <button id="florals-button161" style="font-weight:500;color:#73656F;font-size:30px;" class="button button-positive button-block button-clear">Lavandin</button>
    <button id="florals-button162" style="font-weight:500;color:#73656F;font-size:30px;" class="button button-positive button-block button-clear">Tuberose</button>
  </ion-content>
</ion-view>
