<ion-view title="Frankincense" id="page51" style="background-color:#FFFFFF;">
  <ion-content padding="true" class="has-header">
    <div id="frankincense-markdown38" class="show-list-numbers-and-dots">
      <p style="color:#73656F;font-size:20px;">
        <em>Boswellia Serrata</em>
      </p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Contents:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">a-pinene, actanol, linalool, octyl acetate, bornyl acetate, incensole and incensyl acetate</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Properties:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">antiseptic, astringent, carminative, cicatrisant, cytophylactic, digestive, diuretic, emmenagogue, expectorant, sedative, tonic, uterine, vulnerary and expectorant</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Uses:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">
        <em>Diffused;</em>
      </p>

      <p style="color:#73656F;font-size:20px;">anxiety, relieves obsessive states of mind, opens the lungs, shortness of breath, asthma, bronchitis, laryngitis, coughs, colds.</p>

      <p style="color:#73656F;font-size:20px;">
        <em>Topically;</em>
      </p>

      <p style="color:#73656F;font-size:20px;">sores, carbuncles, wounds, scars, skin inflammation, painful menstruation, poor circulation, rheumatism, chilliness.</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Cautions:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">Boswellia may decrease the effects of pharmaceutical anti-inflammatories. </p>

      <p style="color:#73656F;font-size:20px;">Pregnant individuals should avoid due to emmenagogue properties.</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>First aid:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">If skin irritation has occurred apply cornstarch or similar to absorb excess.</p>

      <p style="color:#73656F;font-size:20px;">If gotten in the eye rinse with clear water for 15 min, if irritation persists for more than 30 min seek professional help.</p>

      <p style="color:#73656F;font-size:20px;">If a pregnant woman has been exposed monitor closely for signs of labour or miscarriage.</p>
    </div>
  </ion-content>
</ion-view>
