<ion-view title="Galbanum" id="page92" style="background-color:#FFFFFF;">
  <ion-content padding="true" class="has-header">
    <div id="galbanum-markdown78" class="show-list-numbers-and-dots">
      <p style="color:#73656F;font-size:20px;">
        <em>Ferula Gummosa</em>
      </p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Contains:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">MONOTERPENES, ESTERS, LACTONE</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Properties:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">Emmenagogue, restorative, analgesic, tonic, anti-inflammatory, antiseptic, antispasmodic, balsamic, aphrodisiac, carminative, digestive, diuretic, expectorant, hypo-tensive, restorative, cicatrisant.</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Uses:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">
        <em>Diffused;</em>
      </p>

      <p style="color:#73656F;font-size:20px;">Encourages inward thoughts during meditation and calms emotions.</p>

      <p style="color:#73656F;font-size:20px;">
        <em>Topically;</em>
      </p>

      <p style="color:#73656F;font-size:20px;">Respiratory problems, indigestion, inflamed skin conditions, lowers pain.</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Cautions:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">Pregnant women should avoid due to emmenagogue properties.</p>

      <p style="color:#73656F;font-size:20px;">May impact fertility.</p>

      <p style="color:#73656F;font-size:20px;">Not to be used around children under the age of 6.</p>

      <p style="color:#73656F;font-size:20px;">Best used at high dilution.</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>First aid:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">If skin irritation has occurred apply cornstarch or similar to absorb excess.</p>

      <p style="color:#73656F;font-size:20px;">If gotten in the eye rinse with clear water for 15 min, if irritation persists for more than 30 min seek professional help.</p>

      <p style="color:#73656F;font-size:20px;">If a pregnant woman has been exposed monitor closely for signs of labour or miscarriage.</p>
    </div>
  </ion-content>
</ion-view>
