<ion-view title="Garlic" id="page85" style="background-color:#FFFFFF;">
  <ion-content padding="true" class="has-header">
    <div id="garlic-markdown73" class="show-list-numbers-and-dots">
      <p style="color:#73656F;font-size:20px;">
        <em>Allium sativum</em>
      </p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Contents:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">ALLIIN, ALLYL-ALCOHOL, ALLYL-METHYL-DISULFIDE, ALLYL-METHYL-TRISULFIDE, ALLYLMETHYLSULFIDE, DIALLYL-DISULFIDE, DIALLYL-TRISULFIDE, DIMETHYL-DISULFIDE, DIMETHYL-SULFIDE</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Properties:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">Antibacterial, antifungal, antiviral, anti-inflammatory, antiparasitic, antiseptic </p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Uses:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">Heavily diluted (1-2 drops per 2 tablespoons (or more) of carrier oil), can be used the same way as an infused oil, more strongly as a deterrent to wildlife in your garden. Can also be used in food for flavouring.</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Cautions:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">Oil is very potent, use only at heavy dilution.</p>

      <p style="color:#73656F;font-size:20px;">Use extreme caution if pregnant, effects are unknown. </p>

      <p style="color:#73656F;font-size:20px;">Smell of the essential oil is very strong and may induce nausea in many people.</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>First aid:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">If skin irritation has occurred apply cornstarch or similar to absorb excess.</p>

      <p style="color:#73656F;font-size:20px;">If gotten in the eye rinse with clear water for 15 min, if irritation persists for more than 30 min seek professional help.</p>

      <p style="color:#73656F;font-size:20px;">If a pregnant woman has been exposed monitor closely for signs of labour or miscarriage.</p>

      <p style="color:#73656F;font-size:20px;">If gotten on the face contact emergency services immediately and watch for signs of shock. </p>
    </div>
  </ion-content>
</ion-view>
