<ion-view title="Grapefruit" id="page36" style="background-color:#FFFFFF;">
  <ion-content padding="true" class="has-header">
    <div id="grapefruit-markdown31" class="show-list-numbers-and-dots">
      <p style="color:#73656F;font-size:20px;">
        <em>Citrus paradisi</em>
      </p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Contains:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">A-PINENE, SABINENE, MYRCENE, LIMONENE, GERANIOL, LINALOOL, CITRONELLAL, DECYL ACETATE, NERYL ACETATE, TERPINEN-4-OL</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Properties:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">Antidepressant, antiseptic, aperitif, diuretic, disinfectant, lymphatic stimulant, tonic and anti-infectious.</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Uses:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">
        <em>Diffused;</em>
      </p>

      <p style="color:#73656F;font-size:20px;">Mental exhaustion, headaches, depression, colds, flu.</p>

      <p style="color:#73656F;font-size:20px;">
        <em>Topically;</em>
      </p>

      <p style="color:#73656F;font-size:20px;">Digestion, clears lymphatic system, acne, </p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Cautions:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">Typically not phototoxic however some individuals still react when the area of application is in direct sun.</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>First aid:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">If skin irritation has occurred apply cornstarch or similar to absorb excess.</p>

      <p style="color:#73656F;font-size:20px;">If gotten in the eye rinse with clear water for 15 min, if irritation persists for more than 30 min seek professional help.</p>
    </div>
  </ion-content>
</ion-view>
