<ion-view title="Grasses" id="page87" style="background-color:#FFFFFF;">
  <ion-content padding="true" class="has-header">
    <button id="grasses-button112" style="font-weight:500;color:#73656F;font-size:30px;" class="button button-positive button-block button-clear">Citronella</button>
    <button id="grasses-button113" style="font-weight:500;color:#73656F;font-size:30px;" class="button button-positive button-block button-clear">Palmarosa</button>
    <button id="grasses-button114" style="font-weight:500;color:#73656F;font-size:30px;" class="button button-positive button-block button-clear">Vetiver</button>
    <a ui-sref="tabsController.lemongrass()" id="grasses-button115" style="font-weight:500;color:#ABDD62;font-size:30px;" class="button button-positive button-block button-clear">Lemongrass</a>
    <button id="grasses-button116" style="font-weight:500;color:#73656F;font-size:30px;" class="button button-positive button-block button-clear">Ginger grass</button>
  </ion-content>
</ion-view>
