<ion-view title="Helichrysum" id="page94" style="background-color:#FFFFFF;">
  <ion-content padding="true" class="has-header">
    <div id="helichrysum-markdown80" class="show-list-numbers-and-dots">
      <p style="color:#73656F;font-size:20px;">
        <em>Helichrysum angustifolium</em>
      </p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Contains:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">A-PINENE, CAMPHENE, B-PINENE, MYRCENE, LIMONENE, 1,8-CINEOLE, LINALOOL, TERPINEN-4-OL, NERYL ACETATE, NEROL, GERANIOL, EUGENOL, ITALIDONE, B-DIKETONES</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Properties:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">Anti-allergenic, anti-inflammatory, antispasmodic, astringent, diuretic, analgesic, expectorant, cytophylactic, cholagogue, nervine.</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Uses:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">
        <em>Diffused;</em>
      </p>

      <p style="color:#73656F;font-size:20px;">Colds, flu, bronchitis, coughs, asthma.</p>

      <p style="color:#73656F;font-size:20px;">
        <em>Topically;</em>
      </p>

      <p style="color:#73656F;font-size:20px;">Rheumatism, arthritis, scars, acne, dermatitis, stretch marks, boils, abscesses.</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Cautions:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">Not for use on children under 12 years.</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>First aid:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">If skin irritation has occurred apply cornstarch or similar to absorb excess.</p>

      <p style="color:#73656F;font-size:20px;">If gotten in the eye rinse with clear water for 15 min, if irritation persists for more than 30 min seek professional help.</p>
    </div>
  </ion-content>
</ion-view>
