<ion-view title="Jasmine" id="page49" style="background-color:#FFFFFF;">
  <ion-content padding="true" class="has-header">
    <div id="jasmine-markdown36" class="show-list-numbers-and-dots">
      <p style="color:#73656F;font-size:20px;">
        <em>Jasminum Gradiflora</em>
      </p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Contains:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">BENZYL ACETATE, LINALOOL, BENZYL ALCOHOL, INDOLE, BENZYL BENZOATE, CIS-JASMONE, GERANIOL, METHYL ANTHRANILATE, P. CRESOL, FARNESOL, CIS-3-HEXENYL BENZOATE, EUGENOL, NEROL, CEOSOL, BENZOIC ACID, BENZALDEHYDE, Y-TERPINEOL, NEROLIDOL, ISOHYTOL, PHYTOL</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Properties:</strong>
        Anti-depressant, antiseptic, aphrodisiac, anti-spasmodic, cicatrisant, expectorant, galactagogue, parturient, sedative, uterine.</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Uses:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">
        <em>Diffused;</em>
      </p>

      <p style="color:#73656F;font-size:20px;">Depression, nervousness, coughs, relaxation, easing tension, encouraging labour progression.</p>

      <p style="color:#73656F;font-size:20px;">
        <em>Topically;</em>
      </p>

      <p style="color:#73656F;font-size:20px;">Muscle pain, coughs, reducing tension, stress, nervousness, stretch marks, scars.</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Cautions:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">Should be avoided during pregnancy.</p>

      <p style="color:#73656F;font-size:20px;">Do not diffuse inside a vehicle, relaxing effect can be potent which can impair the driver.</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>First aid:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">If skin irritation has occurred apply cornstarch or similar to absorb excess.</p>

      <p style="color:#73656F;font-size:20px;">If gotten in the eye rinse with clear water for 15 min, if irritation persists for more than 30 min seek professional help.</p>

      <p style="color:#73656F;font-size:20px;">If a pregnant woman has been exposed monitor closely for signs of labour or miscarriage.</p>
    </div>
  </ion-content>
</ion-view>
