<ion-view title="Juniper berry" id="page53" style="background-color:#FFFFFF;">
  <ion-content padding="true" class="has-header">
    <div id="juniperBerry-markdown40" class="show-list-numbers-and-dots">
      <p style="color:#73656F;font-size:20px;">
        <em>Juniperus communis</em>
      </p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Contains:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">A-PINENE, CAMPHENE, B-PINENE, SABINENE, MYRCENE, A-PHELLANDRENE, A-TERPINENE, Y-TERPINENE, 1,4-CINEOLE, B-PHELLANDRENE, P-CYMENE, TERPINEN-4-OL, BORNYL ACETATE, CAYOPHYLLENE, LIMONENE, CAMPHOR, LINALOOL, LINALYL ACETATE, BORNEOL, NEROL</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Properties:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">Antiseptic, anti-rheumatic, antispasmodic, astringent, carminative, depurative, diuretic, rubefacient, stimulating, stomachic, sudorific, vulnerary, tonic.</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Uses:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">
        <em>Diffused;</em>
      </p>

      <p style="color:#73656F;font-size:20px;">Anxiety, nervous tension, mental exhaustion, lift the spirits.</p>

      <p style="color:#73656F;font-size:20px;">
        <em>Topically;</em>
      </p>

      <p style="color:#73656F;font-size:20px;">Arthritis, cellulite, nervous tension, cystitis, gout, swollen joints, muscle fatigue, weeping eczema, dermatitis, blocked pores, psoriasis.</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Cautions:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">Use only at high dilution.</p>

      <p style="color:#73656F;font-size:20px;">Should be avoided during pregnancy.</p>

      <p style="color:#73656F;font-size:20px;">Should be avoided if you suffer from kidney problems.</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>First aid:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">If skin irritation has occurred apply cornstarch or similar to absorb excess.</p>

      <p style="color:#73656F;font-size:20px;">If gotten in the eye rinse with clear water for 15 min, if irritation persists for more than 30 min seek professional help.</p>

      <p style="color:#73656F;font-size:20px;">If a pregnant woman has been exposed monitor closely for signs of labour or miscarriage.</p>
    </div>
  </ion-content>
</ion-view>
