<ion-view title="Lemon balm/Melissa" id="page104" style="background-color:#FFFFFF;">
  <ion-content padding="true" class="has-header">
    <div id="lemonBalmMelissa-markdown90" class="show-list-numbers-and-dots">
      <p style="color:#73656F;font-size:20px;">
        <em>Melissa officinalis</em>
      </p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Contains:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">TRANS-OCIMENE, CIS-OCIMENE, 3-OCTANONE, METHYL HEPENONE, CIS-3-HEXENOL, 3-OCTANOL, 1-OCTEN-3-OL, COPAENE, CITRONELLAL, LINALOOL, B-BOURBONENE, CARYOPHYLLENE, A-HUMULENE, NERAL, GERMACRENE-D, GERANIAL, GERANYL ACETATE, D-CADINENE, Y-CADINENE, NEROL,
        GERANIOL</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Properties:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">Antidepressant, antispasmodic, bactericidal, carminative, cordial, diaphoretic, emmenagogue, febrifuge, hypotensive, nervine, sedative, stomachic, sudorific, tonic.</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Uses:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">
        <em>Diffused;</em>
      </p>

      <p style="color:#73656F;font-size:20px;">Depression, calming, headaches, nausea, stress.</p>

      <p style="color:#73656F;font-size:20px;">
        <em>Topically;</em>
      </p>

      <p style="color:#73656F;font-size:20px;">Fever, upset stomach, fungal infections.</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Cautions:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">Oil can cause sensitization, high dilution is best.</p>

      <p style="color:#73656F;font-size:20px;">Pregnant women should avoid due to emmenagogue properties.</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>First aid:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">If skin irritation has occurred apply cornstarch or similar to absorb excess.</p>

      <p style="color:#73656F;font-size:20px;">If gotten in the eye rinse with clear water for 15 min, if irritation persists for more than 30 min seek professional help.</p>

      <p style="color:#73656F;font-size:20px;">If a pregnant woman has been exposed monitor closely for signs of labour or miscarriage.</p>
    </div>
  </ion-content>
</ion-view>
