<ion-view title="Lemongrass" id="page75" style="background-color:#FFFFFF;">
  <ion-content padding="true" class="has-header">
    <div id="lemongrass-markdown63" class="show-list-numbers-and-dots">
      <p style="color:#73656F;font-size:20px;">
        <em>Cymbopogon citratus</em>
      </p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Contains:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">MYRCENE, CITRONELLAL, GERANYL ACETATE, NEROL, GERANIOL, NERAL, LIMONENE, CITRAL</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Properties:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">Analgesic, anti-depressant, antimicrobial. antipyretic, antiseptic, astringent, bactericidal, carminative, deodorant, diuretic, febrifuge, fungicidal, galactagogue, insecticidal, nervine, nervous system sedative, tonic.</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Uses:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">
        <em>Diffused;</em>
      </p>

      <p style="color:#73656F;font-size:20px;">Jetlag, headaches, nervous exhaustion, stress-related conditions, respiratory infections, insect repellant.</p>

      <p style="color:#73656F;font-size:20px;">
        <em>Topically;</em>
      </p>

      <p style="color:#73656F;font-size:20px;">Digestive problems, diuretic, infections, nervousness, over exerted ligaments, acne, athlete's foot, fungal infections.</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Cautions:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">Can irritate skin.</p>

      <p style="color:#73656F;font-size:20px;">Some do have allergic reactions, please do a patch test and never more concentrated than a 3% dilution.</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>First aid:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">If skin irritation has occurred apply cornstarch or similar to absorb excess.</p>

      <p style="color:#73656F;font-size:20px;">If gotten in the eye rinse with clear water for 15 min, if irritation persists for more than 30 min seek professional help.</p>
    </div>
  </ion-content>
</ion-view>
