<ion-view title="Lime" id="page38" style="background-color:#FFFFFF;">
  <ion-content padding="true" class="has-header">
    <div id="lime-markdown33" class="show-list-numbers-and-dots">
      <p style="color:#73656F;font-size:20px;">
        <em>Citrus aurantifolia</em>
      </p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Contains:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">A-PINENE, B-PINENE, MYRCENE, LIMONENE, TERPINOLENE, 1,8-CENEOLE, LINALOOL, BORNEOL, CITRAL, NERAL ACETATE, GERANYL ACETATE</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Properties:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">Antiseptic, antiviral, astringent, aperitif, bactericidal, disinfectant, febrifuge, haemostatic, restorative, tonic.</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Uses:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">
        <em>Diffused;</em>
      </p>

      <p style="color:#73656F;font-size:20px;">Colds, sore throats, flu, coughs, bronchitis, sinusitis, asthma, depression</p>

      <p style="color:#73656F;font-size:20px;">
        <em>Topically;</em>
      </p>

      <p style="color:#73656F;font-size:20px;">Arthritis, rheumatism, poor circulation, oily skin, acne, herpes, insect bites, cuts, painful muscles and joints</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Cautions:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">Cold pressed oil is photosensitizing, steam distilled is not.</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>First aid:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">If skin irritation has occurred apply cornstarch or similar to absorb excess.</p>

      <p style="color:#73656F;font-size:20px;">If gotten in the eye rinse with clear water for 15 min, if irritation persists for more than 30 min seek professional help.</p>
    </div>
  </ion-content>
</ion-view>
