<ion-view title="Marjoram" id="page82" style="background-color:#FFFFFF;">
  <ion-content padding="true" class="has-header">
    <div id="marjoram-markdown70" class="show-list-numbers-and-dots">
      <p style="color:#73656F;font-size:20px;">
        <em>Origanum majorana</em>
      </p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Contains:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">sabinene, a-terpinene, y-terpinene, p-cymene, terpinolene, linalool, cis-sabinene hydrate, linalyl acetate, terpinen-4-ol and y-terpineol.</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Properties:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">analgesic, antispasmodic, aphrodisiac, antiseptic, antiviral, bactericidal, carminative, cephalic, cordial, diaphoretic, digestive, diuretic, emmenagogue, expectorant, fungicidal, hypotensive, laxative, nervine, sedative, stomachic, vasodilator
        and vulnerary.</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Uses:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">
        <em>Topical;</em>
      </p>

      <p style="color:#73656F;font-size:20px;">aches, sprains, fungal infections, antibacterial.</p>

      <p style="color:#73656F;font-size:20px;">
        <em>Diffuser;</em>
      </p>

      <p style="color:#73656F;font-size:20px;">helps relieve inflammation in the airways and clear mucus.</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Cautions:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">Avoid use during pregnancy.</p>

      <p style="color:#73656F;font-size:20px;">The oil is generally considered safe and non-irritating however some individuals may still be sensitive.</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>First Aid:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">If skin irritation has occurred apply cornstarch or similar to absorb excess.</p>

      <p style="color:#73656F;font-size:20px;">If gotten in the eye rinse with clear water for 15 min, if irritation persists for more than 30 min seek professional help.</p>

      <p style="color:#73656F;font-size:20px;">If a pregnant woman has been exposed monitor closely for signs of labour or miscarriage.</p>
    </div>
  </ion-content>
</ion-view>
