<ion-view title="Medical Conditions" id="page30" style="background-color:#FFFFFF;">
  <ion-content padding="true" class="has-header">
    <div id="medicalConditions-markdown26" class="show-list-numbers-and-dots">
      <p style="color:#73656F;font-size:20px;">If you have a medical condition that requires regular use of pharmaceutical medication please also read the drug interactions section.</p>

      <p style="color:#73656F;font-size:20px;">Hormonal conditions, blood sugar related conditions, bleeding disorders, and blood pressure are typically the most likely to experience bad effects from essential oils that also act on these systems.</p>

      <p style="color:#73656F;font-size:20px;">Seizure conditions can also be affected by certain oils, please refer to that section within the app.</p>

      <p style="color:#73656F;font-size:20px;">Other conditions may also be affected however at this time these are the known categories.</p>

      <p style="color:#73656F;font-size:20px;">
        <em>Hormones:</em>
      </p>

      <p style="color:#73656F;font-size:20px;">Negative reactions will usually have to do with birth control, cross sex hormones, and/or hormonally related cancers. Oils that influence hormones will bring things back to a biological balance which may be desired with hormone related cancers however
        there is a risk it could make things worse. When it comes to birth control and cross sex hormones it may reduce the effectiveness of these medications or interact in other ways.</p>

      <p style="color:#73656F;font-size:20px;">
        <em>Blood thinning:</em>
      </p>

      <p style="color:#73656F;font-size:20px;">These oils should be avoided for up to 2 weeks prior to surgery. Tragic results can occur.</p>

      <p style="color:#73656F;font-size:20px;">
        <em>High risk;</em>
      </p>

      <ol>
        <li>
          <strong>Birch (Sweet)</strong> - Betula lenta</li>
        <li>
          <strong>Garlic</strong> - Allium sativum</li>
        <li>
          <strong>Oregano</strong> - Origanum onites as well as the following synonyms Origanum smyrnaeum, Origanum vulgare, Origanum compactum, Origanum hurtum, Thymbra capitata, Thymus capitatus,Coridothymus capitatus, Satureja capitata</li>
        <li>
          <strong>Tarragon</strong> - Artemisia dracunculus</li>
        <li>
          <strong>Wintergreen</strong> - Gaultheria fragrantissima</li>
      </ol>

      <p style="color:#73656F;font-size:20px;">
        <em>Use caution;</em>
      </p>

      <ol>
        <li>
          <strong>Anise (synonym Aniseed)</strong> - Pimpinella anisum</li>
        <li>
          <strong>Anise (Star)</strong> - Illicium verum</li>
        <li>
          <strong>Basil (estragole CT)</strong> - Ocimum basilicum</li>
        <li>
          <strong>Basil (Holy)</strong> - Ocimum tenuiflorum synonym Ocimum sanctum</li>
        <li>
          <strong>Basil (Madagascan)</strong> - Ocimum gratissimum</li>
        <li>
          <strong>Basil (Pungent)</strong> - Ocimum gratissimum synonym Ocimum viride</li>
        <li>
          <strong>Bay (West Indian)</strong> - Pimenta racemosa synonym Pimenta acris</li>
        <li>
          <strong>Cassia</strong> - Cinnamomum cassia synonym Cinnamomum aromaticum</li>
        <li>
          <strong>Cinnamon (Bark)</strong> - Cinnamomum verum synonym Cinnamomum zeylanicum</li>
        <li>
          <strong>Cinnamon (Leaf)</strong> - Cinnamomum verum synonym Cinnamomum zeylanicum</li>
        <li>
          <strong>Clove (Bud)</strong> - Syzygium aromaticum synonym Eugenia caryophyllata and Eugenia aromatica</li>
        <li>
          <strong>Clove (Leaf)</strong> - Syzygium aromaticum synonym Eugenia caryophyllata and Eugenia aromatica</li>
        <li>
          <strong>Clove (Stem)</strong> - Syzygium aromaticum synonym Eugenia caryophyllata and Eugenia aromatica</li>
        <li>
          <strong>Fennel (Bitter)</strong> - Foeniculum vulgare subspecies Capillaceum</li>
        <li>
          <strong>Fennel (Sweet)</strong> - Foeniculum vulgare</li>
        <li>
          <strong>Lavandin</strong> - Lavandula x intermedia synonym Lavandula hybrida, synonym Lavandula hortensis</li>
        <li>
          <strong>Marjoram (Wild, carvacrol CT)</strong> - Origanum marjorana, synonyn Marjorana hortensissynonynOriganum dubium</li>
        <li>
          <strong>Myrtle (Aniseed)</strong> - Backhousia anisata</li>
        <li>
          <strong>Oregano (Mexican)</strong> - Lippia graveolens synonym Lippia berlandieri synonym Lippia amentaceasynonym Lippia tomentosa</li>
        <li>
          <strong>Patchouli</strong> – Pogostemon cablin</li>
        <li>
          <strong>Thyme (borneol CT)</strong> - Thymus satureioides</li>
        <li>
          <strong>Thyme (limonene CT)</strong> - Thymus vulgaris synonym Thymus serphyllum</li>
        <li>
          <strong>Thyme (thymol CT and carvacrol CT)</strong> - Thymus vulgaris synonym Thymus serphyllum synonymThymus zygis</li>
        <li>
          <strong>Thyme (Spike)</strong> - Thymbra spicata</li>
      </ol>

      <p style="color:#73656F;font-size:20px;">
        <em>Blood sugar:</em>
      </p>

      <p style="color:#73656F;font-size:20px;">At this time there is no concrete list showing which oils have a definitive effect on blood sugar. You will need to read each QRDS carefully for any effects an oil may have on blood sugar.</p>

      <p style="color:#73656F;font-size:20px;">Thank you to Lea Harris CCA for the compiled lists.</p>
    </div>
  </ion-content>
</ion-view>
