<ion-view title="Myrtle" id="page98" style="background-color:#FFFFFF;">
  <ion-content padding="true" class="has-header">
    <div id="myrtle-markdown84" class="show-list-numbers-and-dots">
      <p style="color:#73656F;font-size:20px;">
        <em>Myrtus Communis</em>
      </p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Contains:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">ALPHA-PINENE, BETA-PINENE, LIMONENE, CINEOL, ALPHA-TERPINEN-4-OL, MYRTENOL, GERANIOL, LINALYL ACETATE, MYRTENYL ACETATE, CARVACROL</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Properties:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">Anticatarrhal, antiseptic, astringent, bactericidal, expectorant, balsamic.</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Uses:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">
        <em>Diffused;</em>
      </p>

      <p style="color:#73656F;font-size:20px;">Phlegm, cattarh, sleeping aid, self destructive behavior, anger, greed, envy, fear.</p>

      <p style="color:#73656F;font-size:20px;">
        <em>Topically;</em>
      </p>

      <p style="color:#73656F;font-size:20px;">Acne, nervous tension, stress, piles, infection.</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Cautions:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">Excessive use can cause headaches and nausea.</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>First aid:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">If skin irritation has occurred apply cornstarch or similar to absorb excess.</p>

      <p style="color:#73656F;font-size:20px;">If gotten in the eye rinse with clear water for 15 min, if irritation persists for more than 30 min seek professional help.</p>
    </div>
  </ion-content>
</ion-view>
