<ion-view title="Niaouli" id="page105" style="background-color:#FFFFFF;">
  <ion-content padding="true" class="has-header">
    <div id="niaouli-markdown91" class="show-list-numbers-and-dots">
      <p style="color:#73656F;font-size:20px;">
        <em>Melaleuca viridiflora</em>
      </p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Contains:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">1,8-CINEOLE, Y-TERPINEOL, LIMONENE, A-PHELLANDRENE, A-PINENE, B-PINENE, LINALOOL, PIPERITONE</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Properties:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">Analgesic, anti-rheumatic, antiseptic, bactericidal, balsamic, cicatrisant, decongestant, expectorant, febrifuge, insecticide, stimulant, vermifuge, vulnerary</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Uses:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">
        <em>Diffused;</em>
      </p>

      <p style="color:#73656F;font-size:20px;">Concentration, lung infections, pain relief, bronchitis, asthma, sinusitis, sore throats, catarrh, laryngitis</p>

      <p style="color:#73656F;font-size:20px;">
        <em>Topically;</em>
      </p>

      <p style="color:#73656F;font-size:20px;">Ulcers, acne, blemishes, boils, burns, cuts, insect bites, minor infections, digestion, pain relief </p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Cautions:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">No specific cautions</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>First aid:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">If skin irritation has occurred apply cornstarch or similar to absorb excess.</p>

      <p style="color:#73656F;font-size:20px;">If gotten in the eye rinse with clear water for 15 min, if irritation persists for more than 30 min seek professional help.</p>
    </div>
  </ion-content>
</ion-view>
