<ion-view title="Oregano" id="page83" style="background-color:#FFFFFF;">
  <ion-content padding="true" class="has-header">
    <div id="oregano-markdown71" class="show-list-numbers-and-dots">
      <p style="color:#73656F;font-size:20px;">
        <em>Origanum vulgare</em>
      </p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Contains:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">CARVACROL, THYMOL, P-CYMENE, CIS-OCIMENE, CARYOPHYLLENE, LINALOOL</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Properties:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">Antibacterial, antiviral, antifungal, antioxidant, digestive, anti-allergenic, anti-parasitic, anti-inflammatory Uses:
      </p>

      <p style="color:#73656F;font-size:20px;">
        <em>Diffused;</em>
      </p>

      <p style="color:#73656F;font-size:20px;">Respiratory infections, cough, bronchitis, phlegm.</p>

      <p style="color:#73656F;font-size:20px;">
        <em>Topically;</em>
      </p>

      <p style="color:#73656F;font-size:20px;">Arthritis, digestion, infections.</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Cautions:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">Skin irritant, use at high dilution.</p>

      <p style="color:#73656F;font-size:20px;">Mucus membrane irritant, use at high dilution.</p>

      <p style="color:#73656F;font-size:20px;">May be toxic to embryo’s, avoid during pregnancy.</p>

      <p style="color:#73656F;font-size:20px;">Possibility of drug interactions.</p>

      <p style="color:#73656F;font-size:20px;">Do not use around young children.</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>First aid:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">If skin irritation has occurred apply cornstarch or similar to absorb excess.</p>

      <p style="color:#73656F;font-size:20px;">If gotten in the eye rinse with clear water for 15 min, if irritation persists for more than 30 min seek professional help.</p>

      <p style="color:#73656F;font-size:20px;">If a pregnant woman has been exposed monitor closely for signs of labour or miscarriage.</p>
    </div>
  </ion-content>
</ion-view>
