<ion-view title="Peppermint" id="page78" style="background-color:#FFFFFF;">
  <ion-content padding="true" class="has-header">
    <div id="peppermint-markdown66" class="show-list-numbers-and-dots">
      <p style="color:#73656F;font-size:20px;">
        <em>Mentha Piperita</em>
      </p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Contains:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">menthol (50 - 75%), menthone, 1,8-cineole, methyl acetate, methofuran, isomenthone, limonene, b-pinene, a-pinene, germacrene-d, trans-sabinene hydrate and pulegone.</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Properties:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">analgesic, anesthetic, antiseptic, antigalactagogue, antiphlogistic, antispasmodic, astringent, carminative, cephalic, cholagogue, cordial, decongestant, emmenagogue, expectorant, febrifuge, hepatic, nervine, stimulant, stomachic, sudorific, vasoconstrictor
        and vermifuge.</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Uses:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">
        <em>Topical;</em>
      </p>

      <p style="color:#73656F;font-size:20px;">muscle and joint aches, fever.</p>

      <p style="color:#73656F;font-size:20px;">
        <em>Diffused;</em>
      </p>

      <p style="color:#73656F;font-size:20px;">flu, colds, allergies. </p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Cautions:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">Do not use if pregnant as the emmenagogue properties increase risk of miscarriage.</p>

      <p style="color:#73656F;font-size:20px;">The oil applied directly to the skin can cause painful blistering in some individuals.</p>

      <p style="color:#73656F;font-size:20px;">DO NOT ALLOW DIRECT APPLICATION of the oil on infants. Due to the menthol constituent, topical use of peppermint oil around the facial or chest areas of infants and young children, especially around the nose, can induce apnea, laryngeal and bronchial
        spasm, acute respiratory distress with cyanosis, or respiratory arrest.</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>First Aid:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">If skin irritation has occurred apply cornstarch or similar to absorb excess.</p>

      <p style="color:#73656F;font-size:20px;">If gotten in the eye rinse with clear water for 15 min, if irritation persists for more than 30 min seek professional help.</p>

      <p style="color:#73656F;font-size:20px;">If a pregnant woman has been exposed monitor closely for signs of labour or miscarriage.</p>

      <p style="color:#73656F;font-size:20px;">In the event of a young child or baby getting direct exposure call emergency services immediately. </p>

      <p style="color:#73656F;font-size:20px;">Keep 1 or 2 fingers on the tongue to keep airway from swelling shut.</p>

      <p style="color:#73656F;font-size:20px;">Allow the child to swallow mucus as it collects and then re-insert fingers. Swelling should subside after the mucus membranes flush the oil out (approx 10 minutes for many children).</p>
    </div>
  </ion-content>
</ion-view>
