<ion-view title="Pregnancy and Breastfeeding" id="page31" style="background-color:#FFFFFF;">
  <ion-content padding="true" class="has-header">
    <div id="pregnancyAndBreastfeeding-markdown27" class="show-list-numbers-and-dots">
      <p style="color:#73656F;font-size:20px;">
        <em>Breastfeeding;</em>
      </p>

      <p style="color:#73656F;font-size:20px;">If it’s on the boob it’s in the milk. It will be a miniscule amount but its enough that the same safety measures should be applied as if you were applying it directly on the child or diffusing. If the child is under the 6mo mark then wait at least
        30 minutes after application before breastfeeding.</p>

      <p style="color:#73656F;font-size:20px;">
        <em>Pregnancy;</em>
      </p>

      <p style="color:#73656F;font-size:20px;">Pregnant individuals often have more sensitive skin so always do a patch test to avoid issues. The first trimester is the highest risk, and the third is typically the lowest risk. Not everyone will experience a bad event, this information is just
        to help avoid the risk of one occurring.</p>

      <p style="color:#73656F;font-size:20px;">The list of oils to avoid would be far too long for a pregnant brain to remember. </p>

      <p style="color:#73656F;font-size:20px;">Instead look for the following terms on any QRDS to know what to avoid.</p>

      <p style="color:#73656F;font-size:20px;">The safety colour code also acts as a basic guideline.</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Galactagogue</strong> - Increases milk production which stimulates the wrong hormones to maintain pregnancy.</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Emmenagogue</strong> - Stimulates menstruation</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Abortifacient</strong> – Causes abortion/terminates pregnancy</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Embryotoxic</strong> – Toxic to a growing baby (1st trimester)</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Fetotoxic</strong> – Toxic to a growing baby</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Teratogenic</strong> – Causes malformations in a growing baby</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Carcinogenic</strong> – Cancer</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Hepatotoxic</strong> – Toxic to the liver</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Nephrotoxic</strong> – Toxic to the kidneys</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Toxic</strong>
      </p>
    </div>
  </ion-content>
</ion-view>
