<ion-view title="QRDS from book" id="page10" style="background-color:#FFFFFF;">
  <ion-content padding="true" class="has-header">
    <div id="qRDSFromBook-markdown5" class="show-list-numbers-and-dots">
      <p style="color:#73656F;font-size:20px;">The following QRDS were originally published in my book </p>

      <p style="color:#73656F;font-size:20px;">"The Natural Path"</p>

      <p style="color:#73656F;font-size:20px;">Available on amazon.</p>
    </div>
    <a ui-sref="tabsController.lavender()" id="qRDSFromBook-button22" style="font-weight:500;color:#ABDD62;font-size:30px;" class="button button-balanced button-block button-clear">Lavender</a>
    <a ui-sref="tabsController.teaTree()" id="qRDSFromBook-button23" style="font-weight:500;color:#ABDD62;font-size:30px;" class="button button-balanced button-block button-clear">Tea Tree</a>
    <a ui-sref="tabsController.scotchPine()" id="qRDSFromBook-button24" style="font-weight:500;color:#ABDD62;font-size:30px;" class="button button-balanced button-block button-clear">Scotch Pine</a>
    <a ui-sref="tabsController.sweetOrange()" id="qRDSFromBook-button26" style="font-weight:500;color:#ABDD62;font-size:30px;" class="button button-balanced button-block button-clear">Sweet Orange</a>
    <a ui-sref="tabsController.eucalyptusGlobulus()" id="qRDSFromBook-button27" style="font-weight:500;color:#EA7600;font-size:30px;" class="button button-balanced button-block button-clear">Eucalyptus globulus</a>
    <a ui-sref="tabsController.blackPepper()" id="qRDSFromBook-button28" style="font-weight:500;color:#EA7600;font-size:30px;" class="button button-balanced button-block button-clear">Black Pepper</a>
    <a ui-sref="tabsController.myrrh()" id="qRDSFromBook-button32" style="font-weight:500;color:#9B2242;font-size:30px;" class="button button-positive button-block button-clear">Myrrh</a>
    <a ui-sref="tabsController.rose()" id="qRDSFromBook-button31" style="font-weight:500;color:#9B2242;font-size:30px;" class="button button-balanced button-block button-clear">Rose</a>
    <a ui-sref="tabsController.sweetMarjoram()" id="qRDSFromBook-button30" style="font-weight:500;color:#9B2242;font-size:30px;" class="button button-balanced button-block button-clear">Sweet Marjoram</a>
    <a ui-sref="tabsController.dillSeed()" id="qRDSFromBook-button29" style="font-weight:500;color:#9B2242;font-size:30px;" class="button button-balanced button-block button-clear">Dill</a>
  </ion-content>
</ion-view>
