<ion-view title="Resins" id="page43" style="background-color:#FFFFFF;">
  <ion-content padding="true" class="has-header">
    <a ui-sref="tabsController.frankincense()" id="resins-button85" style="font-weight:500;color:#9B2242;font-size:30px;" class="button button-positive button-block button-clear">Frankincense</a>
    <a ui-sref="tabsController.myrrh()" id="resins-button86" style="font-weight:500;color:#9B2242;font-size:30px;" class="button button-positive button-block button-clear">Myrrh</a>
    <a ui-sref="tabsController.elemi()" id="resins-button84" style="font-weight:500;color:#ABDD62;font-size:30px;" class="button button-positive button-block button-clear">Elemi</a>
    <button id="resins-button87" style="font-weight:500;color:#73656F;font-size:30px;" class="button button-positive button-block button-clear">Benzoin</button>
    <button id="resins-button88" style="font-weight:500;color:#73656F;font-size:30px;" class="button button-positive button-block button-clear">Copaiba</button>
    <a ui-sref="tabsController.labdanum()" id="resins-button89" style="font-weight:500;color:#9B2242;font-size:30px;" class="button button-positive button-block button-clear">Labdanum</a>
    <button id="resins-button141" style="font-weight:500;color:#73656F;font-size:30px;" class="button button-positive button-block button-clear">Peru Balsam</button>
    <a ui-sref="tabsController.galbanum()" id="resins-button142" style="font-weight:500;color:#DA291C;font-size:30px;" class="button button-positive button-block button-clear">Galbanum</a>
    <button id="resins-button143" style="font-weight:500;color:#73656F;font-size:30px;" class="button button-positive button-block button-clear">Gurjum</button>
    <button id="resins-button144" style="font-weight:500;color:#73656F;font-size:25px;" class="button button-positive button-block button-clear">Opoponax/Sweet Myrrh</button>
  </ion-content>
</ion-view>
