<ion-view title="Rosewood" id="page56" style="background-color:#FFFFFF;">
  <ion-content padding="true" class="has-header">
    <div id="rosewood-markdown43" class="show-list-numbers-and-dots">
      <p style="color:#73656F;font-size:20px;">
        <em>Aniba rosaeodora</em>
      </p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Contains:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">A-PINENE, CAMPHENE, GERANIOL, NERAL, GERANIAL, MYRCENE, LIMONENE, 1,8-CINEOLE, LINALOOL, BENZALDEHYDE, LINALOOL OXIDES, A-TERPINEOL</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Properties:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">Anti-depressant, mildly analgesic, antiseptic, aphrodisiac, bactericidal, cephalic, deodorant, insecticide, stimulant</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Uses:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">
        <em>Diffused;</em>
      </p>

      <p style="color:#73656F;font-size:20px;">Colds, coughs, fever, immune boosting, aphrodisiac, headaches, nausea, stress, depression</p>

      <p style="color:#73656F;font-size:20px;">
        <em>Topically;</em>
      </p>

      <p style="color:#73656F;font-size:20px;">Infections, tissue regeneration, anti-aging</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Cautions:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">No specific cautions.</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>First aid:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">If skin irritation has occurred apply cornstarch or similar to absorb excess.</p>

      <p style="color:#73656F;font-size:20px;">If gotten in the eye rinse with clear water for 15 min, if irritation persists for more than 30 min seek professional help.</p>
    </div>
  </ion-content>
</ion-view>
