<ion-view title="Rose" id="page21" style="background-color:#FFFFFF;">
  <ion-content padding="true" class="has-header">
    <div id="rose-markdown17" class="show-list-numbers-and-dots">
      <p style="color:#73656F;font-size:20px;">
        <em>Rosa damascene</em>
      </p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Contains:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">citronellol, geraniol, nerol, linalool, phenyl ethyl alcohol, farnesol, stearoptene, α-pinene, β-pinene, α-terpinene, limonene, p-cymene,camphene, β-caryophyllene, neral, citronellyl acetate, geranyl acetate, neryl acetate, eugenol, methyl eugenol,
        rose oxide, α-damascenone, β-damascenone, benzaldehyde, benzyl alcohol, rhodinyl acetate and phenyl ethyl formate.</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Properties:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">antidepressant, antispasmodic, aphrodisiac, astringent, antibacterial, antiviral, antiseptic, anti-inflammatory, hemostatic, cleansing, stomachic, expectorant, cholagogue, kidney tonic, emmenagogue, nervine, hepatic, laxative, cicatrisant, depurative,
        antiphlogistic</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Uses:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">
        <em>Diffused;</em>
        regulation of hormones, headaches, depression, anxiety.</p>

      <p style="color:#73656F;font-size:20px;">
        <em>Topical;</em>
        scars, stretch marks, infection, scrapes, minor cuts, spasms, pain.</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Cautions:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">Pure rose absolute/otto must be diluted.</p>

      <p style="color:#73656F;font-size:20px;">Pregnant individuals must avoid.</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>First aid:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">If skin irritation has occurred apply cornstarch or similar to absorb excess.</p>

      <p style="color:#73656F;font-size:20px;">If gotten in the eye rinse with clear water for 15 min, if irritation persists for more than 30 min seek professional help.</p>

      <p style="color:#73656F;font-size:20px;">If a pregnant woman has been exposed monitor closely for signs of labour or miscarriage.</p>
    </div>
  </ion-content>
</ion-view>
