<ion-view title="Rose geranium" id="page61" style="background-color:#FFFFFF;">
  <ion-content padding="true" class="has-header">
    <div id="roseGeranium-markdown49" class="show-list-numbers-and-dots">
      <p style="color:#73656F;font-size:20px;">
        <em>Pelargonium graveolens</em>
      </p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Contains:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">A-PINENE, MYRCENE, LIMONENE, MENTHONE, LINALOOL, GERANYL ACETATE, CITRONELLOL, GERANIOL, GERANYL BUTYRATE</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Properties:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">Antidepressant, antiseptic, astringent, cicatrisant, cytophylactic, diuretic, deodorant, haemostatic, styptic, tonic, vermifuge, vulnerary</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Uses:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">
        <em>Diffused;</em>
      </p>

      <p style="color:#73656F;font-size:20px;">Depression, anxiety, stress.</p>

      <p style="color:#73656F;font-size:20px;">
        <em>Topically;</em>
      </p>

      <p style="color:#73656F;font-size:20px;">Burns, wounds, ulcers, fluid retention, edema, eczema, shingles, bruises, ringworm.</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Cautions:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">Some people do experience allergic reactions, do a patch test first.</p>

      <p style="color:#73656F;font-size:20px;">Hormonal balancing effects, best avoided during pregnancy.</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>First aid:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">If skin irritation has occurred apply cornstarch or similar to absorb excess.</p>

      <p style="color:#73656F;font-size:20px;">If gotten in the eye rinse with clear water for 15 min, if irritation persists for more than 30 min seek professional help.</p>

      <p style="color:#73656F;font-size:20px;">If a pregnant woman has been exposed monitor closely for signs of labour or miscarriage.</p>
    </div>
  </ion-content>
</ion-view>
