<ion-view title="Safety colours" id="page9" style="background-color:#FFFFFF;">
  <ion-content padding="true" class="has-header">
    <div id="safetyColours-markdown4" class="show-list-numbers-and-dots">
      <p style="color:#73656F;font-size:20px;">The names of each oil will be in one of the following colours according to a very basic overall safety profile. These colours cannot possibly account for individual health issues so please read each QRDS carefully.</p>

      <p style="color:#73656F;font-size:20px;">All safety profiles are based off of unadulterated (pure) essential oils.</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Green</strong> = All ages.</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Purple</strong> = Safe for young children but NOT pregnant individuals.</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Orange</strong> = Safe for pregnant individuals but NOT young children.</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Red</strong> = Adults ONLY.</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Black</strong> = Do not use. Only included for educational purposes.</p>
    </div>
  </ion-content>
</ion-view>
