<ion-view title="Sage" id="page76" style="background-color:#FFFFFF;">
  <ion-content padding="true" class="has-header">
    <div id="sage-markdown64" class="show-list-numbers-and-dots">
      <p style="color:#73656F;font-size:20px;">
        <em>Salvia officinalis</em>
      </p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Contains:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">A-PINENE, CAMPHENE, B-PINENE, MYRCENE, LIMONENE, 1,8-CINEOLE, A-THUJONE, B-THUJONE, CAMPHOR, LINALOOL, BORNYL ACETATE, BORNEOL</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Properties:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">Anti-inflammatory, antibacterial, antiseptic, antispasmodic, astringent, digestive, diuretic, emmenagogue, febrifuge, hypertensive, laxative, stomachic, tonic</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Uses:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">
        <em>Diffused;</em>
      </p>

      <p style="color:#73656F;font-size:20px;">Grief, depression, increase memory</p>

      <p style="color:#73656F;font-size:20px;">
        <em>Topically;</em>
      </p>

      <p style="color:#73656F;font-size:20px;">Rheumatism, digestion, dermatitis, atonic wounds, sores, ulcers, insect bites, reducing large pores, stiff muscles, stimulating the lymphatic system, menopause</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Cautions:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">Do not use if pregnant.</p>

      <p style="color:#73656F;font-size:20px;">Do not use if you suffer from epilepsy.</p>

      <p style="color:#73656F;font-size:20px;">Do not use if you have high blood pressure.</p>

      <p style="color:#73656F;font-size:20px;">Potentially toxic in high doses.</p>

      <p style="color:#73656F;font-size:20px;">Oil is very potent use only at high dilution.</p>

      <p style="color:#73656F;font-size:20px;">Do not use on children.</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>First aid:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">If skin irritation has occurred apply cornstarch or similar to absorb excess.</p>

      <p style="color:#73656F;font-size:20px;">If gotten in the eye rinse with clear water for 15 min, if irritation persists for more than 30 min seek professional help.</p>

      <p style="color:#73656F;font-size:20px;">If a pregnant woman has been exposed monitor closely for signs of labour or miscarriage.</p>

      <p style="color:#73656F;font-size:20px;">If an epileptic has been exposed monitor closely and seek medical attention immediately.</p>
    </div>
  </ion-content>
</ion-view>
