<ion-view title="Scotch Pine" id="page16" style="background-color:#FFFFFF;">
  <ion-content padding="true" class="has-header">
    <div id="scotchPine-markdown12" class="show-list-numbers-and-dots">
      <p style="color:#73656F;font-size:20px;">
        <em>Pinus Sylvestris</em>
      </p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Contents:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">borneol, bornyl acetate, a and b-phallandrene, a and b-pinene and 3-carene</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Properties:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">antimicrobial, antineuralgic, antirheumatic, antiseptic, antiviral, bactericidal, balsamic, cholagogue, deodorant, diuretic, expectorant, hypertensive, insecticidal, restorative, rubefacient, adrenal cortex stimulant as well as stimulant to the
        circulation and nervous system.</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Uses:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">
        <em>Diffused;</em> asthma, colds, coughs, smokers cough, drowsiness, hangover and sinusitis, relaxing, restorative to the mind.</p>

      <p style="color:#73656F;font-size:20px;">
        <em>Topically;</em> infections, rheumatism, bladder and kidney problems (bath).</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Cautions:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">Oil must be kept at a low dosage (diluted with carrier oil) to prevent skin irritation.</p>

      <p style="color:#73656F;font-size:20px;">Individuals allergic to pine should avoid this oil.</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>First aid:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">If skin irritation has occurred apply cornstarch or similar to absorb excess.</p>

      <p style="color:#73656F;font-size:20px;">If gotten in the eye rinse with clear water for 15 min, if irritation persists for more than 30 min seek professional help.</p>
    </div>
  </ion-content>
</ion-view>
