<ion-view title="Seizures" id="page5">
  <ion-content padding="true" class="has-header">
    <div id="seizures-markdown1" class="show-list-numbers-and-dots">
      <p style="color:#73656F;font-size:18px;">Some essential oils contain chemicals that can trigger pre-existing seizure disorders. They can also trigger isolated seizures in children and adults depending on the oil in question and/or level of exposure.</p>

      <p style="color:#73656F;font-size:18px;">With any of the oils listed below please do not use them around children under the age of 10 years simply due to the high numbers of children with seizure disorders. First hand experience has taught me that a seizure disorder can be latent and end
        up triggered by exposure to one of these oils.</p>

      <p style="color:#73656F;font-size:18px;">
        <strong>Birch (Sweet);</strong> Betula lenta</p>

      <p style="color:#73656F;font-size:18px;">
        <strong>Ho Leaf;</strong> Cinnamomum camphora ct camphor</p>

      <p style="color:#73656F;font-size:18px;">
        <strong>Hyssop;</strong> Hyssopus officinalis ct pinocamphone</p>

      <p style="color:#73656F;font-size:18px;">
        <strong>Lavender (Spanish);</strong> Lavandula stoechas spp. stoechas</p>

      <p style="color:#73656F;font-size:18px;">
        <strong>Lavender (Spike);</strong> Lavendula latifolia and Lavandula spica</p>

      <p style="color:#73656F;font-size:18px;">
        <strong>Pennyroyal;</strong> Hedeoma pulegioides and Mentha pulegium and Micromeria fruitcosa</p>

      <p style="color:#73656F;font-size:18px;">
        <strong>Rosemary;</strong> Rosemarinus officinalis ct a-pinene, Rosemarinus officinalis ct verbenone</p>

      <p style="color:#73656F;font-size:18px;">
        <strong>Sage (Dalmatian);</strong> Salvia officinalis</p>

      <p style="color:#73656F;font-size:18px;">
        <strong>Sage (Spanish);</strong> Salvia lavandulifolia and Salvia hispanoru</p>

      <p style="color:#73656F;font-size:18px;">
        <strong>Tansy;</strong> Tanacetum vulgare and Chrusanthemum tanacetum</p>

      <p style="color:#73656F;font-size:18px;">
        <strong>Thuja;</strong> Thuja opccidentalis</p>

      <p style="color:#73656F;font-size:18px;">
        <strong>Western Red Cedar;</strong> Thuja plicata</p>

      <p style="color:#73656F;font-size:18px;">
        <strong>Wintergreen;</strong> Gaultheria fragrantissima and Gaultheria procumbens</p>

      <p style="color:#73656F;font-size:18px;">
        <strong>Yarrow;</strong> Achillea millefolium ct. Chamazulene</p>

      <p style="color:#73656F;font-size:18px;">
        <strong>Eucalyptus</strong> oil can also trigger seizures in a rare subset of epileptics.</p>
    </div>
  </ion-content>
</ion-view>
