<ion-view title="Spearmint" id="page79" style="background-color:#FFFFFF;">
  <ion-content padding="true" class="has-header">
    <div id="spearmint-markdown67" class="show-list-numbers-and-dots">
      <p style="color:#73656F;font-size:20px;">
        <em>Mentha spicata</em>
      </p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Contains:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">A-PINENE, B-PINENE, CARVONE, 1,8-CINEOLE, LINALOOL, LIMONENE, MYRCENE, CARYOPHYLLENE, MENTHOL</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Properties:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">Antiseptic, antispasmodic, carminative, cephalic, emmenagogue, insecticide, restorative, stimulant.</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Uses:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">
        <em>Diffused;</em>
      </p>

      <p style="color:#73656F;font-size:20px;">Headaches, migraines, nervous strain, fatigue, stress, asthma, bronchitis, catarrh, sinusitis</p>

      <p style="color:#73656F;font-size:20px;">
        <em>Topically;</em>
      </p>

      <p style="color:#73656F;font-size:20px;">Flatulence, constipation, diarrhea, nausea, relaxes stomach muscles, hiccups, acne, dermatitis, congested skin, sore gums, heavy periods</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Cautions:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">Pregnant women should avoid due to emmenagogue properties.</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>First aid:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">If skin irritation has occurred apply cornstarch or similar to absorb excess.</p>

      <p style="color:#73656F;font-size:20px;">If gotten in the eye rinse with clear water for 15 min, if irritation persists for more than 30 min seek professional help.</p>

      <p style="color:#73656F;font-size:20px;">If a pregnant woman has been exposed monitor closely for signs of labour or miscarriage.</p>
    </div>
  </ion-content>
</ion-view>
