<ion-view title="Star Anise" id="page66" style="background-color:#FFFFFF;">
  <ion-content padding="true" class="has-header">
    <div id="starAnise-markdown54" class="show-list-numbers-and-dots">
      <p style="color:#73656F;font-size:20px;">
        <em>Illicium verum</em>
      </p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Contains:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">A PHELLANDRENE, ANETHOL, FARNESENE, METHYLCHAVICOL, SAFROLE</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Properties:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">Analgesic, antispasmodic, digestive, purgative, antifungal, antistress, diuretic, stimulant, antiseptic, carminative, expectorant</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Uses:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">
        <em>Topically;</em>
      </p>

      <p style="color:#73656F;font-size:20px;">cramps, lower back pain, muscular pain, arthritis.</p>

      <p style="color:#73656F;font-size:20px;">
        <em>Diffused;</em>
      </p>

      <p style="color:#73656F;font-size:20px;">opening the lungs, lowering anxiety and stress.</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Cautions:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">Make sure the product is pure Chinese star anise. </p>

      <p style="color:#73656F;font-size:20px;">Japanese species are toxic.</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>First aid:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">If skin irritation occurs absorb excess product with cornstarch or similar.</p>

      <p style="color:#73656F;font-size:20px;">If gotten in the eye rinse with clear water for 15 min.</p>

      <p style="color:#73656F;font-size:20px;">If a baby or young child has ingested even trace amounts of the oil call emergency services immediately, seizures can and do occur.</p>
    </div>
  </ion-content>
</ion-view>
