<ion-view title="Tagetes" id="page62" style="background-color:#FFFFFF;">
  <ion-content padding="true" class="has-header">
    <div id="tagetes-markdown50" class="show-list-numbers-and-dots">
      <p style="color:#73656F;font-size:20px;">
        <em>Tagetes minuta</em>
      </p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Contains:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">TAGETONE, LIMONENE, VALERIC ACID, OCIMENE</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Properties:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">Anti-infectious, anti-microbial, antibiotic, anti-spasmodic, anti-parasitic, antiseptic, insecticide, sedative.</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Uses:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">
        <em>Diffused;</em>
      </p>

      <p style="color:#73656F;font-size:20px;">Chest infections, coughs, catarrh, opening the lungs, insect repellent</p>

      <p style="color:#73656F;font-size:20px;">
        <em>Topically;</em>
      </p>

      <p style="color:#73656F;font-size:20px;">Wounds, cuts, calluses, bunions, skin infections, fungal infections, parasitic infestations</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Cautions:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">Oil is very potent, use only at high dilution.</p>

      <p style="color:#73656F;font-size:20px;">Oil can cause photosensitivity.</p>

      <p style="color:#73656F;font-size:20px;">May be too potent for pregnant women.</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>First aid:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">If skin irritation has occurred apply cornstarch or similar to absorb excess.</p>

      <p style="color:#73656F;font-size:20px;">If gotten in the eye rinse with clear water for 15 min, if irritation persists for more than 30 min seek professional help.</p>
    </div>
  </ion-content>
</ion-view>
