<ion-view title="Terragon" id="page80" style="background-color:#FFFFFF;">
  <ion-content padding="true" class="has-header">
    <div id="terragon-markdown68" class="show-list-numbers-and-dots">
      <p style="color:#73656F;font-size:20px;">
        <em>Atremisia dracunculus</em>
      </p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Contains:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">ESTRAGOLE, OCIMENE, PHELLANDRENE, CINEOL</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Properties:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">Anti-rheumatic, aperitif, digestive, deodorant, emmenagogue, stimulant, vermifuge.</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Uses:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">
        <em>Diffused;</em>
      </p>

      <p style="color:#73656F;font-size:20px;">Digestion, menstruation.</p>

      <p style="color:#73656F;font-size:20px;">
        <em>Topically;</em>
      </p>

      <p style="color:#73656F;font-size:20px;">Anorexia, dyspepsia, flatulence, hiccups, internal spasm, nervous indigestion, menstrual complaints.</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Cautions:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">Pregnant women should avoid due to emmenagogue properties.</p>

      <p style="color:#73656F;font-size:20px;">Estragole can be toxic, use oil in moderation.</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>First aid:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">If skin irritation has occurred apply cornstarch or similar to absorb excess.</p>

      <p style="color:#73656F;font-size:20px;">If gotten in the eye rinse with clear water for 15 min, if irritation persists for more than 30 min seek professional help.</p>

      <p style="color:#73656F;font-size:20px;">If a pregnant woman has been exposed monitor closely for signs of labour or miscarriage.</p>
    </div>
  </ion-content>
</ion-view>
