<ion-view title="Thyme" id="page81" style="background-color:#FFFFFF;">
  <ion-content padding="true" class="has-header">
    <div id="thyme-markdown69" class="show-list-numbers-and-dots">
      <p style="color:#73656F;font-size:20px;">
        <em>Thymus vulgaris</em>
      </p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Contains:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">A-THUJONE, A-PINENE, CAMPHENE, B-PINENE, P-CYMENE, A-TERPINENE, LINALOOL, BORNEOL, B-CARYOPHYLLENE, THYMOL, CARVACROL</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Properties:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">Antirheumatic, antiseptic, antispasmodic, bactericidal, bechic, cardiac, carminative, cicatrisant, diuretic, emmenagogue, expectorant, hypertensive, insecticide, stimulant, tonic, vermifuge</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Uses:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">
        <em>Diffused;</em>
      </p>

      <p style="color:#73656F;font-size:20px;">Colds, coughs, asthma, laryngitis, sinusitis, catarrh, whooping cough, sore throats, tonsillitis, memory, concentration, depression, boosts the immune system</p>

      <p style="color:#73656F;font-size:20px;">
        <em>Topically;</em>
      </p>

      <p style="color:#73656F;font-size:20px;">Arthritis, rheumatism, gout, muscular aches, sprains, cellulite, anorexia, edema, scanty periods, leucorrhoea, speed up birth </p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Cautions:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">Oil is very potent, use only at high dilution.</p>

      <p style="color:#73656F;font-size:20px;">Pregnant women should avoid due to emmenagogue properties.</p>

      <p style="color:#73656F;font-size:20px;">Can cause mucus membrane irritation. Can cause skin irritation.</p>

      <p style="color:#73656F;font-size:20px;">Do not use in cases of high blood pressure.</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>First aid:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">If skin irritation has occurred apply cornstarch or similar to absorb excess.</p>

      <p style="color:#73656F;font-size:20px;">If gotten in the eye rinse with clear water for 15 min, if irritation persists for more than 30 min seek professional help.</p>

      <p style="color:#73656F;font-size:20px;">If a pregnant woman has been exposed monitor closely for signs of labour or miscarriage.</p>
    </div>
  </ion-content>
</ion-view>
