<ion-view title="Trees" id="page44" style="background-color:#FFFFFF;">
  <ion-content padding="true" class="has-header">
    <button id="trees-button90" style="font-weight:500;color:#73656F;font-size:30px;" class="button button-positive button-block button-clear">Agarwood</button>
    <a ui-sref="tabsController.camphor()" id="trees-button91" style="font-weight:500;color:#DA291C;font-size:30px;" class="button button-positive button-block button-clear">Camphor</a>
    <button id="trees-button92" style="font-weight:500;color:#73656F;font-size:30px;" class="button button-positive button-block button-clear">Cedarwood Atlas</button>
    <a ui-sref="tabsController.cedarwoodVirginiana()" id="trees-button107" style="font-weight:500;color:#9B2242;font-size:25px;" class="button button-positive button-block button-clear">Cedarwood (Virginiana)</a>
    <a ui-sref="tabsController.rosewood()" id="trees-button93" style="font-weight:500;color:#ABDD62;font-size:30px;" class="button button-positive button-block button-clear">Rosewood</a>
    <a ui-sref="tabsController.sandalwood()" id="trees-button94" style="font-weight:500;color:#ABDD62;font-size:30px;" class="button button-positive button-block button-clear">Sandalwood</a>
    <a ui-sref="tabsController.whiteBirch()" id="trees-button95" style="font-weight:500;color:#9B2242;font-size:30px;" class="button button-positive button-block button-clear">White Birch</a>
    <button id="trees-button108" style="font-weight:500;color:#73656F;font-size:30px;" class="button button-positive button-block button-clear">Birch (sweet)</button>
    <button id="trees-button126" style="font-weight:500;color:#73656F;font-size:30px;" class="button button-positive button-block button-clear">Amyris</button>
    <a ui-sref="tabsController.bay()" id="trees-button128" style="font-weight:500;color:#9B2242;font-size:30px;" class="button button-positive button-block button-clear">Bay</a>
    <button id="trees-button127" style="font-weight:500;color:#73656F;font-size:30px;" class="button button-positive button-block button-clear">Bay laurel/Laurel</button>
    <button id="trees-button125" style="font-weight:500;color:#73656F;font-size:30px;" class="button button-positive button-block button-clear">Palo santo</button>
    <a ui-sref="tabsController.cajeput()" id="trees-button130" style="font-weight:500;color:#ABDD62;font-size:30px;" class="button button-positive button-block button-clear">Cajeput</a>
    <button id="trees-button129" style="font-weight:500;color:#73656F;font-size:30px;" class="button button-positive button-block button-clear">White camphor</button>
    <button id="trees-button137" style="font-weight:500;color:#73656F;font-size:30px;" class="button button-positive button-block button-clear">Fragonia</button>
    <button id="trees-button138" style="font-weight:500;color:#73656F;font-size:30px;" class="button button-positive button-block button-clear">Ho leaf/ravintsara</button>
    <button id="trees-button136" style="font-weight:500;color:#73656F;font-size:30px;" class="button button-positive button-block button-clear">Ho wood</button>
    <button id="trees-button135" style="font-weight:500;color:#73656F;font-size:30px;" class="button button-positive button-block button-clear">Kanuka</button>
    <button id="trees-button134" style="font-weight:500;color:#73656F;font-size:30px;" class="button button-positive button-block button-clear">Lemon Myrtle</button>
    <a ui-sref="tabsController.myrtle()" id="trees-button191" style="font-weight:500;color:#ABDD62;font-size:30px;" class="button button-positive button-block button-clear">Myrtle</a>
    <button id="trees-button133" style="font-weight:500;color:#73656F;font-size:30px;" class="button button-positive button-block button-clear">Green myrtle</button>
    <button id="trees-button132" style="font-weight:500;color:#73656F;font-size:30px;" class="button button-positive button-block button-clear">Red myrtle</button>
    <button id="trees-button131" style="font-weight:500;color:#73656F;font-size:30px;" class="button button-positive button-block button-clear">Linden blossom</button>
    <button id="trees-button140" style="font-weight:500;color:#73656F;font-size:30px;" class="button button-positive button-block button-clear">Saro/Madravarotra</button>
    <button id="trees-button139" style="font-weight:500;color:#73656F;font-size:23px;" class="button button-positive button-block button-clear">May Cheng/Litsea cubeba</button>
    <button id="trees-button124" style="font-weight:500;font-size:30px;" class="button button-positive button-block button-clear">Ravensara</button>
  </ion-content>
</ion-view>
