<ion-view title="Usage of QRDS" id="page8" style="background-color:#FFFFFF;">
  <ion-content padding="true" class="has-header">
    <div id="usageOfQRDS-markdown3" class="show-list-numbers-and-dots">
      <p style="color:#73656F;font-size:20px;">A Quick Reference Data Sheet is broken into 6 sections as follows:</p>

      <ol>
        <li>The latin botanical name.</li>
        <li>The chemical components.</li>
        <li>Usage properties under their technical names.</li>
        <li>Route of application, eg; topical, diffused, ect. Along with demonstrative symptoms.</li>
        <li>Important safety information</li>
        <li>Any first aid information needed for immediate response.</li>
      </ol>
    </div>
  </ion-content>
</ion-view>
