<ion-view title="Vocabulary" id="page11" style="background-color:#FFFFFF;">
  <ion-content padding="true" class="has-header">
    <div id="vocabulary-markdown7" class="show-list-numbers-and-dots">
      <p style="color:#73656F;font-size:20px;">This list is not complete. Please feel free to email me directly when you encounter a missing term. My email is located in the About section.</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Analgesic:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">a remedy that relieves or allays pain</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Anti-anemic:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">Corrective or preventive of anemia</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Anti-inflammatory:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">Acting to reduce certain signs of inflammation, as swelling,tenderness, fever, and pain.</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Anti-rheumatic:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">Corrective or preventive of rheumatism</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Anti-sclerotic:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">Corrective or preventive of osteosclerosis</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Antiarthritic:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">Corrective or preventive of Arthritis</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Antibacterial:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">Destructive to or inhibiting the growth of bacteria</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Anticancer:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">Corrective or preventive of cancer</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Antidepressant:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">Of or relating to a substance that is used in the treatment of mood disorders, as characterized by various manic or depressive affects.</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Antidiabetic:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">Corrective or preventive of diabetes</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Antifungal:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">Corrective or preventive of fungal infections</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Antimicrobial:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">Destructive to or inhibiting the growth of microorganisms.</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Antimutagenic:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">Capable of reducing the frequency of mutation.</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Antioxidant:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">An enzyme or other organic substance, as vitamin E or beta carotene, that is capable of counteracting the damaging effects of oxidation in animal tissues.</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Antiseptic:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">Free from or cleaned of germs and other microorganisms.</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Antispasmodic:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">Corrective or preventive of spasms</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Antiviral:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">Corrective or preventive of viral infections</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Astringent:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">Contracting; constrictive; styptic</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Bactericidal:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">Any substance capable of killing bacteria</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Bechic:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">A cough suppressant</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Cardiac:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">Of or relating to the heart</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Cardioprotective:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">Protective of the heart</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Carminative:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">expelling gas from the body; relieving flatulence.</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Cholagogue:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">Promoting the flow of bile.</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Cicatrisant:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">Promoting the healing of a wound</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Depurative:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">Serving to depurate; purifying.</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Diaphoretic:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">Producing perspiration.</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Digestive:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">Promoting digestion.</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Diuretic:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">Increasing the volume of the urine excreted, as by a medicinal substance.</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Emmenagogue:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">A medicine or procedure that promotes menstrual discharge.</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Expectorant:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">Promoting the discharge of phlegm or other fluid from the respiratory tract.</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Febrifuge:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">Serving to dispel or reduce fever, as a medicine.</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Galactagogue:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">Inducing milk secretion</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Haemostatic:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">retarding or stopping bleeding</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Hepatoprotective:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">To prevent damage to the liver</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Hypertensive:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">Characterized by or causing high blood pressure.</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Hypoglycemic:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">Lowers blood glucose levels.</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Hypotensive:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">Characterized by or causing low blood pressure.</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Insecticide:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">a substance or preparation used for killing insects.</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Laxative:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">A medicine or agent for relieving constipation</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Rubefacient:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">Causing redness of the skin, as a medicinal application.</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Sedative:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">Tending to calm or soothe.</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Stimulant:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">Something that temporarily quickens some vital process</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Stomachic:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">Beneficial to the stomach; stimulating gastric digestion; sharpening the appetite.</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Tonic:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">A medicine that invigorates or strengthens</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Vasodilator:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">Causing dilation of blood vessels.</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Vermifuge:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">Serving to expel worms or other animal parasites from the intestines,as a medicine.</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Vulnerary:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">Used to promote the healing of wounds, as herbs or other remedies.</p>
    </div>
  </ion-content>
</ion-view>
