<ion-view title="Yarrow" id="page63" style="background-color:#FFFFFF;">
  <ion-content padding="true" class="has-header">
    <div id="yarrow-markdown51" class="show-list-numbers-and-dots">
      <p style="color:#73656F;font-size:20px;">
        <em>Achillea millefolium</em>
      </p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Contains:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">TRICYCLENE, A-PINENE, CAMPHENE, B-PINENE, SABINENE, BORNEOL ACETATE, 1,8-CINEOLE, Y-TERPINENE, LIMONENE, ISOARTEMISIA KETONE, BORNEOL, CAMPHOR, CHAMAZULENE</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Properties:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">Anti-inflammatory, antirheumatic, antiseptic, antispasmodic, astringent, carminative, cicatrisant, diaphoretic, digestive, expectorant, haemostatic, hypotensive, stomachic, tonic, emmenagogue</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Uses:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">
        <em>Diffused;</em>
      </p>

      <p style="color:#73656F;font-size:20px;">Hypertension, insomnia, stress</p>

      <p style="color:#73656F;font-size:20px;">
        <em>Topically;</em>
      </p>

      <p style="color:#73656F;font-size:20px;">Varicose veins, irregular menstruation, menopausal problems, cystitis, infection, flatulence, colic, cramp, indigestion, constipation, inflamed wounds, rashes, cuts, eczema, scars, burns</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Cautions:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">Prolonged use can cause headaches.</p>

      <p style="color:#73656F;font-size:20px;">Can irritate skin for some individuals.</p>

      <p style="color:#73656F;font-size:20px;">Pregnant women should avoid due to influence on menstruation.</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>First aid:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">If skin irritation has occurred apply cornstarch or similar to absorb excess.</p>

      <p style="color:#73656F;font-size:20px;">If gotten in the eye rinse with clear water for 15 min, if irritation persists for more than 30 min seek professional help.</p>

      <p style="color:#73656F;font-size:20px;">If a pregnant woman has been exposed monitor closely for signs of labour or miscarriage.</p>
    </div>
  </ion-content>
</ion-view>
