<ion-view title="Ylang Ylang" id="page64" style="background-color:#FFFFFF;">
  <ion-content padding="true" class="has-header">
    <div id="ylangYlang-markdown52" class="show-list-numbers-and-dots">
      <p style="color:#73656F;font-size:20px;">
        <em>Cananga odorata var. genuina</em>
      </p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Contains:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">LINALOOL, GERANYL ACETATE, CARYOPHYLLENE, P-CRESYL METHYL ETHER, METHYL BENZOATE, BENZYL ACETATE, BENZYL BENZOATE, SESQUITERPENES</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Properties:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">Antidepressant, antiseborrhoeic, antiseptic, aphrodisiac, hypotensive, nervine, sedative.</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Uses:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">
        <em>Diffused;</em>
      </p>

      <p style="color:#73656F;font-size:20px;">Anxiety, tension, shock, fear, panic, aphrodisiac, rapid breathing, rapid heartbeat, physical exhaustion, insomnia, depression, stress</p>

      <p style="color:#73656F;font-size:20px;">
        <em>Topically;</em>
      </p>

      <p style="color:#73656F;font-size:20px;">Balancing oil production in the skin, minor skin infections.</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>Cautions:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">High doses can cause headaches and nausea.</p>

      <p style="color:#73656F;font-size:20px;">Some individuals do experience sensitivity, a patch test is wise.</p>

      <p style="color:#73656F;font-size:20px;">
        <strong>First aid:</strong>
      </p>

      <p style="color:#73656F;font-size:20px;">If skin irritation has occurred apply cornstarch or similar to absorb excess.</p>

      <p style="color:#73656F;font-size:20px;">If gotten in the eye rinse with clear water for 15 min, if irritation persists for more than 30 min seek professional help.</p>
    </div>
  </ion-content>
</ion-view>
